@charset "UTF-8";
/*
 * 2014.tokyo.wordcamp.org
 * Custom CSS
*/
/* ========================================
 * core files
======================================== */
/* =============================================== */
/** extend */
/* ----------------------------------------------- */
.primary-sidebar ul:after, .socialList:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ".";
  font-size: 0; }

.becomeStaff .buttonWrap .button, .socialList li .fa {
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s;
          transition: all 0.2s; }
  .becomeStaff .buttonWrap .button:hover, .socialList li .fa:hover {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); }
  .becomeStaff .buttonWrap .button:active, .socialList li .fa:active {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    -webkit-transition: all 0.1s;
            transition: all 0.1s; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-webkit-keyframes hoverDown {
  0% {
    -webkit-transform: translate(0, -500px);
            transform: translate(0, -500px); }

  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }
@keyframes hoverDown {
  0% {
    -webkit-transform: translate(0, -500px);
            transform: translate(0, -500px); }

  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }
@-webkit-keyframes hovering {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); }

  50% {
    -webkit-transform: translate(0, 8%);
            transform: translate(0, 8%); }

  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); } }
@keyframes hovering {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); }

  50% {
    -webkit-transform: translate(0, 8%);
            transform: translate(0, 8%); }

  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px); } }
@-webkit-keyframes weight {
  0% {
    -webkit-transform: translate(0, -500px);
            transform: translate(0, -500px); }

  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }
@keyframes weight {
  0% {
    -webkit-transform: translate(0, -500px);
            transform: translate(0, -500px); }

  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }
#masthead:after {
  -webkit-animation-name: hoverDown, hovering;
          animation-name: hoverDown, hovering;
  -webkit-animation-duration: 2s, 3s;
          animation-duration: 2s, 3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
          animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-delay: 1s, 0.1s;
          animation-delay: 1s, 0.1s;
  -webkit-animation-iteration-count: 1, infinite;
          animation-iteration-count: 1, infinite;
  -webkit-animation-direction: normal, normal;
          animation-direction: normal, normal;
  -webkit-animation-fill-mode: backwards, none;
          animation-fill-mode: backwards, none; }

/* =============================================== */
/** The root element */
/* ----------------------------------------------- */
html {
  font-size: 10px; }

/* =============================================== */
/** Sections */
/* ----------------------------------------------- */
body {
  background-color: #fff;
  background-repeat: no-repeat;
  color: #555555;
  font-family: "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Verdana, Arial, Helvetica, sans-serif; }
  body a {
    color: #1e5d8a; }
    body a:hover {
      color: #1e5d8a;
      text-decoration: underline; }
    body a:visited {
      color: #1e5d8a; }
  body p:last-child {
    margin-bottom: 0; }
  body ::-moz-selection {
    background-color: #1e5d8a; }
  body ::selection {
    background-color: #1e5d8a; }
  body .fa {
    display: inline-block;
    text-decoration: none; }
  body .fontEn {
    font-family: HelveticaNeue, Helvetica, Arial, Verdana, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif; }

/* =============================================== */
/** Grouping content */
/* ----------------------------------------------- */
iframe {
  vertical-align: middle; }

/* =============================================== */
/** Text-level semantics */
/* ----------------------------------------------- */
a:focus {
  outline: thin dotted; }
a:link, a:visited {
  color: #1e5d8a; }
a:hover, a:active {
  color: #1e5d8a;
  outline: 0; }

/* =============================================== */
/** Embedded content */
/* ----------------------------------------------- */
img {
  vertical-align: bottom;
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

/* =============================================== */
/** Tabular data */
/* ----------------------------------------------- */
table {
  font: 100%;
  font-size: inherit;
  border-spacing: 0;
  border-collapse: collapse; }

/* ========================================
 * module
======================================== */
#main, .primary-navigation .nav-menu {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1080px;
  width: 100%; }

.full-width #main {
  padding-right: 0;
  padding-left: 0;
  max-width: 100%;
  width: 100%; }

.menu-toggle, .full-width .site-content .entry-header, .full-width #secondary #primary-sidebar, .full-width .entry-content .entry-content__row__inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 674px;
  padding-right: 20px;
  padding-left: 20px; }

.site-content .entry-header,
.site-content .entry-content,
.site-content .entry-summary,
.site-content .page-content,
.site-content .entry-meta,
.site-content .post-navigation,
.site-content footer.entry-meta, .widget {
  box-sizing: border-box;
  padding: 0;
  max-width: 900px; }

/* ========================================
 * layout
======================================== */
/* =========================================================
	 サイト全体共通スタイル
========================================================= */
.site {
  max-width: 100%;
  background-color: transparent; }
  .site:before {
    display: none; }

/* main content
---------------------------------------- */
#main-content {
  float: none; }

#primary {
  box-sizing: border-box;
  width: 100%; }

.site-content {
  margin: 0 0 0 auto; }
  .site-content .entry-header,
  .site-content .entry-content,
  .site-content .entry-summary,
  .site-content .page-content,
  .site-content .entry-meta,
  .site-content .post-navigation,
  .site-content footer.entry-meta {
    background-color: transparent;
    max-width: 100%; }

.hentry:last-child {
  border-bottom: none; }

#secondary {
  clear: both; }

/* jetpack
---------------------------------------- */
div.sharedaddy h3.sd-title {
  display: block; }

/* SNS icon area
---------------------------------------- */
.primary-sidebar .snsBtn {
  margin: 1em auto;
  width: 100%;
  text-align: center; }
  .primary-sidebar .snsBtn:after {
    position: absolute;
    z-index: -1;
    content: '';
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }
  .primary-sidebar .snsBtn a {
    position: relative;
    display: block;
    padding: 20px 0;
    color: #fff;
    font-size: 1.6rem; }
    .primary-sidebar .snsBtn a:hover {
      text-decoration: none; }
    .primary-sidebar .snsBtn a i {
      margin-right: 0.75em; }
  .primary-sidebar .snsBtn--Tw.snsBtn {
    margin-left: 0; }
    .primary-sidebar .snsBtn--Tw.snsBtn a {
      box-shadow: 0 4px #3f81b2;
      background-color: #55acee; }
      .primary-sidebar .snsBtn--Tw.snsBtn a:hover {
        box-shadow: 0 2px #3f81b2;
        border-top: 2px solid #fff;
        margin-bottom: -2px; }
      .primary-sidebar .snsBtn--Tw.snsBtn a:active {
        box-shadow: 0 0 #3f81b2;
        border-top: 4px solid #fff;
        margin-bottom: -4px; }
  .primary-sidebar .snsBtn--Fb.snsBtn a {
    box-shadow: 0 4px #2c4272;
    background-color: #3b5998; }
    .primary-sidebar .snsBtn--Fb.snsBtn a:hover {
      box-shadow: 0 2px #2c4272;
      border-top: 2px solid #fff;
      margin-bottom: -2px; }
    .primary-sidebar .snsBtn--Fb.snsBtn a:active {
      box-shadow: 0 0 #2c4272;
      border-top: 4px solid #fff;
      margin-bottom: -4px; }
  .primary-sidebar .snsBtn--Gp.snsBtn {
    margin-right: 0; }
    .primary-sidebar .snsBtn--Gp.snsBtn a {
      box-shadow: 0 4px #a5382a;
      background-color: #dd4b39; }
      .primary-sidebar .snsBtn--Gp.snsBtn a:hover {
        box-shadow: 0 2px #a5382a;
        border-top: 2px solid #fff;
        margin-bottom: -2px; }
      .primary-sidebar .snsBtn--Gp.snsBtn a:active {
        box-shadow: 0 0 #a5382a;
        border-top: 4px solid #fff;
        margin-bottom: -4px; }

/* header
---------------------------------------- */
.header-main {
  padding: 560px 0 0 0;
  min-height: 0;
  width: 100%;
  height: 0; }

#site-header {
  position: relative;
  max-width: 100%; }
  #site-header img {
    width: 100%; }

/* masthead
---------------------------------------- */
#masthead {
  position: relative;
  margin-bottom: 48px;
  max-width: 100%;
  background-color: transparent;
  background-repeat: no-repeat; }
  #masthead:after {
    display: block;
    content: "";
    position: absolute; }
  #masthead:after {
    display: block;
    overflow: hidden;
    padding-top: 90px;
    width: 90px;
    height: 0;
    background-image: url("files/2014/06/iconWapu.png");
    background-position: 0, 0;
    background-size: 100%;
    background-repeat: no-repeat;
    right: 8%;
    z-index: 50;
    margin-top: 0;
    top: 28%; }
  #masthead .site-title {
    position: absolute;
    top: 0;
    left: 0;
    float: none;
    width: 100%;
    height: 100%; }
    #masthead .site-title a {
      display: block;
      width: 100%;
      height: 100%;
      color: transparent;
      font: 0/0 a; }
      #masthead .site-title a:hover {
        text-decoration: none; }
  #masthead .search-toggle {
    display: none; }

.masthead-fixed .site-main {
  margin-top: 0; }

.menu-toggle {
  position: relative;
  background-color: transparent;
  width: auto;
  height: 48px; }
  .menu-toggle:after {
    display: block;
    content: "";
    position: absolute; }
  .menu-toggle:active, .menu-toggle:focus, .menu-toggle:hover {
    background-color: transparent; }
  .menu-toggle:before {
    position: static;
    display: inline-block;
    content: "\f104";
    vertical-align: middle;
    font-size: 1.6rem;
    font-family: Genericons;
    line-height: 1em;
    margin-top: -1px;
    -webkit-transition: all 0.2s;
            transition: all 0.2s; }
  .toggled-on .menu-toggle:before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  .menu-toggle:after {
    position: static;
    display: inline;
    margin-left: 0.5em;
    color: #fff;
    content: 'Menu';
    vertical-align: middle;
    font-size: 1.4rem;
    line-height: 16px; }

/* navigation
---------------------------------------- */
.primary-navigation {
  position: absolute;
  top: 560px;
  left: 0;
  z-index: 100;
  float: none;
  margin: 0 auto;
  padding: 0;
  min-height: 48px;
  width: 100%;
  background-color: #ef86b4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125); }
  .primary-navigation .nav-menu {
    width: auto;
    text-align: center; }
  .primary-navigation a {
    box-sizing: border-box;
    padding: 20px 3em;
    text-align: left;
    letter-spacing: .125em;
    font-weight: normal;
    font-size: 1.4rem; }
  .primary-navigation.toggled-on {
    padding: 0; }

.site-navigation li > a {
  color: #fff;
  -webkit-transition: all 0.2s;
          transition: all 0.2s; }
.site-navigation li:hover > a {
  background-color: transparent;
  color: #ffd7ff;
  text-decoration: none; }
.site-navigation .current-menu-item > a,
.site-navigation .current_page_parent > a {
  color: #fff;
  font-weight: normal; }
  .site-navigation .current-menu-item > a > span,
  .site-navigation .current_page_parent > a > span {
    position: relative; }
    .site-navigation .current-menu-item > a > span:before,
    .site-navigation .current_page_parent > a > span:before {
      position: absolute;
      top: 50%;
      left: -2px;
      display: inline-block;
      margin: -5px auto auto -15px;
      color: #f1d755;
      content: '\25CF';
      font-size: 10px;
      line-height: 1; }

.screen-reader-text {
  display: none; }

.becomeStaff .fa {
  width: 2em;
  height: 2em;
  border: 1px solid #fff;
  border-radius: 100%;
  font-size: 4rem;
  line-height: 2em; }
.becomeStaff .buttonWrap .button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  background-color: #1E5D8A;
  color: #fff;
  font-weight: normal;
  font-size: 2rem; }
.becomeStaff p {
  margin: 3% auto; }

.socialList {
  display: inline-block;
  margin: 0;
  list-style: none; }
  .socialList li {
    float: left;
    margin-left: 2em; }
    .socialList li:first-child {
      margin-left: auto; }
    .socialList li .fa {
      width: 8.8rem;
      height: 8.8rem;
      border-radius: 100%;
      background-color: #66BADF;
      color: #fff;
      vertical-align: middle;
      text-align: center;
      font-size: 6rem;
      line-height: 8.8rem; }
    .socialList li .icon-twitter {
      background-color: #55acee;
      letter-spacing: -0.0125em; }
    .socialList li .icon-facebook {
      background-color: #3b5998;
      letter-spacing: -0.025em; }
    .socialList li .icon-google-plus {
      background-color: #dd4b39;
      letter-spacing: -0.125em; }

/* 
---------------------------------------- */
article.post {
  margin-left: 0; }

.hentry {
  margin: 0 auto;
  max-width: 900px; }

.entry-title a,
.entry-title {
  display: block;
  width: 100%;
  height: 100%; }

/* Single post navigation
---------------------------------------- */
.nav-links {
  width: 100%; }
  .nav-links a {
    position: relative;
    display: inline-block;
    width: 100%;
    box-sizing: border-box; }
    .nav-links a:before {
      display: block;
      content: "";
      position: absolute; }
    .nav-links a:before {
      position: static;
      display: inline-block;
      content: "\f104";
      vertical-align: text-bottom;
      font-size: 16px;
      font-family: Genericons;
      line-height: 1em;
      top: 50%;
      box-sizing: border-box;
      margin-top: -18px;
      width: 36px;
      height: 36px;
      border-radius: 100%;
      background-color: #e6b85d;
      color: #fff;
      text-align: center;
      line-height: 36px;
      padding-left: 2px; }
    .nav-links a:first-child {
      padding: 10px 10px 10px 46px; }
      .nav-links a:first-child:before {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
        position: absolute;
        left: 0; }
    .nav-links a:last-child {
      padding: 10px 46px 10px 10px;
      text-align: right; }
      .nav-links a:last-child:before {
        position: absolute;
        right: 0; }

/* Post content styles
---------------------------------------- */
article .entry-header {
  padding-top: 44px; }

.entry-content h1 {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 8px 12px 8px 62px;
  max-width: 100%;
  border: 3px solid #efefef;
  box-shadow: rgba(240, 240, 240, 0.35098) -2px 0px 1px;
  color: #484848;
  letter-spacing: 1px;
  line-height: 1.2; }
  .entry-content h1:before {
    display: block;
    content: "";
    position: absolute; }
  .entry-content h1:before {
    display: block;
    overflow: hidden;
    padding-top: 80.5px;
    width: 113px;
    height: 0;
    background-image: url("files/2014/07/ttl_entry-title01.png");
    background-position: 0, 0;
    background-size: 100%;
    background-repeat: no-repeat;
    top: -20px;
    left: -54px; }

.entry-content h2 {
  position: relative;
  padding-bottom: 14px; }
  .entry-content h2:after {
    display: block;
    content: "";
    position: absolute; }
  .entry-content h2:after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: transparent;
    background-image: -webkit-linear-gradient(135deg, #e7b955 25%, rgba(231, 185, 85, 0) 25%, rgba(231, 185, 85, 0) 50%, #e7b955 50%, #e7b955 75%, rgba(231, 185, 85, 0) 75%, rgba(231, 185, 85, 0));
    background-image: linear-gradient(315deg, #e7b955 25%, rgba(231, 185, 85, 0) 25%, rgba(231, 185, 85, 0) 50%, #e7b955 50%, #e7b955 75%, rgba(231, 185, 85, 0) 75%, rgba(231, 185, 85, 0));
    background-position: 0 20px;
    background-size: 14px 14px; }

.entry-content h3 {
  padding: 14px 20px 14px 50px;
  background: url("files/2014/07/ttl_entry-title03_left.png");
  background-size: 42px 52px;
  background-repeat: no-repeat;
  position: relative; }
  .entry-content h3:after {
    display: block;
    content: "";
    position: absolute; }
  .entry-content h3:after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: -webkit-linear-gradient(0deg, #fbeef9 25%, rgba(251, 238, 249, 0) 25%, rgba(251, 238, 249, 0) 50%, #fbeef9 50%, #fbeef9 75%, rgba(251, 238, 249, 0) 75%, rgba(251, 238, 249, 0));
    background-image: linear-gradient(90deg, #fbeef9 25%, rgba(251, 238, 249, 0) 25%, rgba(251, 238, 249, 0) 50%, #fbeef9 50%, #fbeef9 75%, rgba(251, 238, 249, 0) 75%, rgba(251, 238, 249, 0));
    background-position: 0 20px;
    background-size: 16px 14px;
    z-index: -1; }

.entry-content h4 {
  padding: 0 10px 20px;
  background: url("files/2014/07/ttl_entry-title04.png") left bottom no-repeat;
  background-size: 100% auto; }

.entry-content h5 {
  padding: 5px 20px 4px;
  background: url("files/2014/07/ttl_entry-title05.png") left top repeat-y;
  background-size: 11px 35px; }

.entry-content h6 {
  padding: 0 5px;
  border-left: solid #e3e3e3 10px;
  background-size: 12px 38px; }

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
  margin-top: 2em; }

.entry-content p {
  text-align: justify;
  text-justify: inter-ideograph; }

blockquote {
  position: relative;
  max-width: 660px;
  padding: 2em;
  position: relative;
  font-size: 0.9em;
  background-color: #fdfdfd; }
  blockquote:before, blockquote:after {
    display: block;
    content: "";
    position: absolute; }
  blockquote:before {
    content: "“";
    font-size: 500%;
    line-height: 1em;
    font-family: "ＭＳ Ｐゴシック",sans-serif;
    color: #fad4e7;
    left: 0;
    top: 10px; }
  blockquote:after {
    content: "”";
    font-size: 500%;
    line-height: 0em;
    font-family: "ＭＳ Ｐゴシック",sans-serif;
    color: #fad4e7;
    right: 20px;
    bottom: 0px; }

.entry-meta .tag-links a:hover:before {
  border-right-color: #F2A5C7; }

.entry-meta .tag-links a:hover {
  background-color: #F2A5C7;
  text-decoration: none; }

/* site-main background
---------------------------------------- */
.site-main {
  padding-bottom: 20em;
  background-image: url("files/2014/07/CitySilhouetteW1920.png");
  width: 100%;
  height: auto;
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat; }

/* page tmeplate full width
---------------------------------------- */
.full-width #main-content {
  float: none; }
  .page .full-width #main-content {
    max-width: 100%; }
.full-width #primary {
  width: 100%; }
.full-width .content-area {
  padding-top: 0; }
.full-width .site-content {
  margin: 0; }
  .full-width .site-content .entry-content {
    padding-left: 0;
    padding-right: 0; }
  .full-width .site-content .entry-header {
    display: none;
    background-color: transparent; }
    .full-width .site-content .entry-header .entry-title,
    .full-width .site-content .entry-header .entry-title a {
      color: #555555; }
    .full-width .site-content .entry-header .entry-meta {
      background-color: transparent; }
  .full-width .site-content .comments-area {
    display: none; }
.full-width .widget {
  background-color: transparent; }

/* content-inner
---------------------------------------- */
.full-width .entry-content {
  background-color: transparent;
  color: #555555;
  max-width: 100%; }
  .full-width .entry-content .entry-content__row {
    padding: 3em 0;
    border-bottom: 2px solid #ededed; }
  .full-width .entry-content .entry-content__row__inner {
    max-width: 810px;
    padding: 0 40px 40px 40px;
    background-color: #ffffff; }
  .full-width .entry-content h1 {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 30px;
    border: none;
    font-size: 2em;
    font-weight: 400;
    box-shadow: none;
    padding: 35px 60px 20px 0; }
    .full-width .entry-content h1:after {
      display: block;
      content: "";
      position: relative; }
    .full-width .entry-content h1:before {
      display: none; }
    .full-width .entry-content h1:after {
      display: block;
      overflow: hidden;
      padding-top: 15px;
      width: 156px;
      height: 0;
      background-image: url("files/2014/07/ttl_postBtmLine@2x.png");
      background-position: 0, 0;
      background-size: 100%;
      background-repeat: no-repeat;
      left: 0;
      bottom: -20px;
      width: 100%;
      height: auto;
      background-size: 156px auto;
      background-position: 10px 0;
      background-repeat: repeat-x; }
  .full-width .entry-content .bkg_WhatIsWordCamp {
    position: relative; }
    .full-width .entry-content .bkg_WhatIsWordCamp:before {
      display: block;
      content: "";
      position: absolute; }
    .full-width .entry-content .bkg_WhatIsWordCamp:before {
      display: block;
      overflow: hidden;
      padding-top: 117px;
      width: 117px;
      height: 0;
      background-image: url("files/2014/07/ttl_WhatIsWordCamp_gray@2x.png");
      background-position: 0, 0;
      background-size: 100%;
      background-repeat: no-repeat;
      right: -10px;
      bottom: -13px;
      background-size: 100% auto;
      background-position: 0 0;
      z-index: 2; }
  .full-width .entry-content .bkg_WhoCanParticipate {
    position: relative; }
    .full-width .entry-content .bkg_WhoCanParticipate:before {
      display: block;
      content: "";
      position: absolute; }
    .full-width .entry-content .bkg_WhoCanParticipate:before {
      right: -10px;
      bottom: -13px;
      display: block;
      overflow: hidden;
      padding-top: 117px;
      width: 117px;
      height: 0;
      background-image: url("files/2014/07/ttl_who@2x.png");
      background-position: 0, 0;
      background-size: 100%;
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: 0 0;
      z-index: 2; }
  .full-width .entry-content .bkg_Concept {
    position: relative; }
    .full-width .entry-content .bkg_Concept:before {
      display: block;
      content: "";
      position: absolute; }
    .full-width .entry-content .bkg_Concept:before {
      right: -10px;
      bottom: -13px;
      display: block;
      overflow: hidden;
      padding-top: 117px;
      width: 117px;
      height: 0;
      background-image: url("files/2014/07/ttl_Concept@2x.png");
      background-position: 0, 0;
      background-size: 100%;
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: 0 0;
      z-index: 2; }
  .full-width .entry-content h2 {
    margin-top: 1.4em;
    font-size: 1.3em; }
    .full-width .entry-content h2:after {
      display: none; }
  .full-width .entry-content p {
    max-width: 95%;
    margin-top: 20px; }

/* media queries
---------------------------------------- */
/* for Tablet Size */
@media screen and (max-width: 781px) {
  .full-width .entry-content .entry-content__row {
    padding-top: 0;
    padding-bottom: 20px; }
  .full-width .entry-content h1 {
    width: 100%;
    padding-right: 90px; }
    .full-width .entry-content h1:after {
      display: block;
      overflow: hidden;
      padding-top: 15px;
      width: 156px;
      height: 0;
      background-image: url("files/2014/07/ttl_postBtmLine@2x.png");
      background-position: 0, 0;
      background-size: 100%;
      background-repeat: no-repeat;
      left: 0;
      bottom: -10px;
      width: 110%;
      height: auto;
      background-size: 156px auto;
      background-position: 25px 0;
      background-repeat: repeat-x; }
  .full-width .entry-content .bkg_WhatIsWordCamp {
    position: relative; }
    .full-width .entry-content .bkg_WhatIsWordCamp:before {
      display: block;
      content: "";
      position: absolute; }
    .full-width .entry-content .bkg_WhatIsWordCamp:before {
      right: 5px;
      bottom: 0;
      display: block;
      overflow: hidden;
      padding-top: 91px;
      width: 91px;
      height: 0;
      background-image: url("files/2014/07/ttl_WhatIsWordCamp_gray@2x.png");
      background-position: 0, 0;
      background-size: 100%;
      background-repeat: no-repeat; }
  .full-width .entry-content .bkg_WhoCanParticipate {
    position: relative; }
    .full-width .entry-content .bkg_WhoCanParticipate:before {
      display: block;
      content: "";
      position: absolute; }
    .full-width .entry-content .bkg_WhoCanParticipate:before {
      right: 5px;
      bottom: 0;
      display: block;
      overflow: hidden;
      padding-top: 91px;
      width: 91px;
      height: 0;
      background-image: url("files/2014/07/ttl_who@2x.png");
      background-position: 0, 0;
      background-size: 100%;
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: 0 0;
      z-index: 2; }
  .full-width .entry-content .bkg_Concept {
    position: relative; }
    .full-width .entry-content .bkg_Concept:before {
      display: block;
      content: "";
      position: absolute; }
    .full-width .entry-content .bkg_Concept:before {
      right: 5px;
      bottom: 0;
      display: block;
      overflow: hidden;
      padding-top: 91px;
      width: 91px;
      height: 0;
      background-image: url("files/2014/07/ttl_Concept@2x.png");
      background-position: 0, 0;
      background-size: 100%;
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: 0 0;
      z-index: 2; } }
@media screen and (max-width: 641px) {
  .full-width .entry-content .entry-content__row {
    padding-top: 0;
    padding-bottom: 20px; }
  .full-width .entry-content h1 {
    width: 100%;
    padding-right: 50px; }
    .full-width .entry-content h1:after {
      display: block;
      overflow: hidden;
      padding-top: 13.5px;
      width: 140.4px;
      height: 0;
      background-image: url("files/2014/07/ttl_postBtmLine@2x.png");
      background-position: 0, 0;
      background-size: 100%;
      background-repeat: no-repeat;
      left: 0;
      bottom: -20px;
      width: 100%;
      height: auto;
      background-size: 156px auto;
      background-position: 15px 0;
      background-repeat: repeat-x; }
  .full-width .entry-content .bkg_WhatIsWordCamp {
    position: relative; }
    .full-width .entry-content .bkg_WhatIsWordCamp:before {
      display: block;
      content: "";
      position: absolute; }
    .full-width .entry-content .bkg_WhatIsWordCamp:before {
      position: absolute;
      right: -10px;
      bottom: -10px;
      display: block;
      overflow: hidden;
      padding-top: 91px;
      width: 91px;
      height: 0;
      background-image: url("files/2014/07/ttl_WhatIsWordCamp_gray@2x.png");
      background-position: 0, 0;
      background-size: 100%;
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: 0 0;
      z-index: 2; }
  .full-width .entry-content .bkg_WhoCanParticipate {
    position: relative; }
    .full-width .entry-content .bkg_WhoCanParticipate:before {
      display: block;
      content: "";
      position: absolute; }
    .full-width .entry-content .bkg_WhoCanParticipate:before {
      position: absolute;
      right: -10px;
      bottom: -10px;
      display: block;
      overflow: hidden;
      padding-top: 91px;
      width: 91px;
      height: 0;
      background-image: url("files/2014/07/ttl_who@2x.png");
      background-position: 0, 0;
      background-size: 100%;
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: 0 0;
      z-index: 2; }
  .full-width .entry-content .bkg_Concept {
    position: relative; }
    .full-width .entry-content .bkg_Concept:before {
      display: block;
      content: "";
      position: absolute; }
    .full-width .entry-content .bkg_Concept:before {
      position: absolute;
      right: -10px;
      bottom: -10px;
      display: block;
      overflow: hidden;
      padding-top: 91px;
      width: 91px;
      height: 0;
      background-image: url("files/2014/07/ttl_Concept@2x.png");
      background-position: 0, 0;
      background-size: 100%;
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: 0 0;
      z-index: 2; } }
@media screen and (max-width: 541px) {
  .full-width .entry-content .entry-content__row {
    padding-top: 0;
    padding-bottom: 20px; }
  .full-width .entry-content h1 {
    width: 100%;
    margin-bottom: 10px;
    padding-right: 30px; }
    .full-width .entry-content h1:after {
      display: none; }
  .full-width .entry-content .bkg_WhatIsWordCamp:before,
  .full-width .entry-content .bkg_WhoCanParticipate:before,
  .full-width .entry-content .bkg_Concept:before {
    display: none; } }
@media screen and (max-width: 540px) {
  .full-width .entry-content .entry-content__row {
    padding-top: 0;
    padding-bottom: 20px; }
  .full-width .entry-content h1 {
    width: 100%;
    margin-bottom: 20px;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 10px; }
    .full-width .entry-content h1:after {
      display: none; }
  .full-width .entry-content .bkg_WhatIsWordCamp:before,
  .full-width .entry-content .bkg_WhoCanParticipate:before,
  .full-width .entry-content .bkg_Concept:before {
    display: none; }
  .full-width .entry-content p {
    max-width: 100%; } }
/* for Android @2 */
@media screen and (max-width: 360px) {
  .full-width .entry-content .entry-content__row {
    padding-top: 0;
    padding-bottom: 20px; }
  .full-width .entry-content .entry-content__row__inner {
    padding: 25px; }
  .full-width .entry-content h1 {
    width: 100%;
    margin-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0; }
    .full-width .entry-content h1:after {
      display: none; }
  .full-width .entry-content .bkg_WhatIsWordCamp:before,
  .full-width .entry-content .bkg_WhoCanParticipate:before,
  .full-width .entry-content .bkg_Concept:before {
    display: none; }
  .full-width .entry-content h2 {
    padding-top: 20px;
    font-size: 1em; }
  .full-width .entry-content p {
    max-width: 100%; } }
/* for iPhone @2 */
@media screen and (max-width: 320px) {
  .full-width .entry-content .entry-content__row {
    padding-top: 0;
    padding-bottom: 20px; }
  .full-width .entry-content .entry-content__row__inner {
    padding: 25px; }
  .full-width .entry-content h1 {
    width: 100%; }
    .full-width .entry-content h1:after {
      display: none; }
  .full-width .entry-content .bkg_WhatIsWordCamp:before,
  .full-width .entry-content .bkg_WhoCanParticipate:before,
  .full-width .entry-content .bkg_Concept:before {
    display: none; }
  .full-width .entry-content h2 {
    padding-top: 20px;
    font-size: 1em; } }
/* Archive title
---------------------------------------- */
.archive-header,
.page-header {
  margin: 0 0 2em;
  padding: 0;
  max-width: 100%;
  text-align: right; }

.archive-title,
.page-title {
  color: #177098;
  position: relative; }
  .archive-title:before,
  .page-title:before {
    display: block;
    content: "";
    position: static; }
  .archive-title:before,
  .page-title:before {
    display: inline-block;
    content: "\f187";
    vertical-align: baseline;
    text-decoration: inherit;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    margin-right: 0.5em; }

#categories-2 h1 {
  margin: 6px 0; }

/* Page navigation
---------------------------------------- */
.page-links a {
  background: #F7DAE6;
  border: 1px solid #F7DAE6;
  color: #666; }
  .page-links a:hover {
    background: #F2A5C7;
    border: 1px solid #F2A5C7;
    color: #fff; }
  .page-links a > span {
    background-color: #F2A5C7;
    color: #fff; }

.paging-navigation {
  border-top: none; }
  .paging-navigation .page-numbers {
    background-color: #F7DAE6; }
  .paging-navigation .page-numbers.current {
    border-top: 5px solid #F2A5C7;
    background: #F2A5C7;
    color: #fff; }
  .paging-navigation a:hover {
    border-top: 5px solid #F2A5C7;
    background-color: #F2A5C7;
    color: #fff;
    text-decoration: none; }

a.prev.page-numbers,
a:hover.prev.page-numbers,
a.next.page-numbers,
span.page-numbers.dots,
a:hover.next.page-numbers {
  background-color: transparent;
  border: none;
  color: #666 !important; }

.pagination.loop-pagination a {
  color: #666; }
  .pagination.loop-pagination a:hover {
    color: #fff; }

span.page-links-title {
  display: none; }

/* set secondart && Primary Sidebar
---------------------------------------- */
#secondary {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 4em 0;
  min-height: 0;
  width: 100%;
  border: none;
  background-color: transparent;
  color: #555555; }

.site-description {
  display: none; }

.widget {
  background-color: #fff; }
  .widget:last-child {
    margin-bottom: 0; }

.widget-title, .widget-title a {
  color: #555555; }

/* Content Sidebar
---------------------------------------- */
.content-sidebar {
  margin: 30px auto;
  padding: 30px 0;
  width: 100%; }
  .content-sidebar .widget .widget-title {
    padding-top: 0;
    border-top: none;
    display: block;
    font-size: 16px;
    border-bottom: 2px solid #B4DFF3; }
  .content-sidebar .widget a {
    color: #666;
    border: none; }
    .content-sidebar .widget a:hover {
      color: #1e5d8a; }

span.cat-links a,
span.cat-links a:hover {
  color: #d35991; }

.widget_archive li
.widget_categories li
.widget_links li
.widget_meta li
.widget_nav_menu li
.widget_pages li
.widget_recent_comments li
.widget_recent_entries li {
  border-top: 1px dashed rgba(255, 255, 255, 0.2); }

/* 
---------------------------------------- */
.footer-sidebar .widget .widget-title,
.primary-sidebar .widget .widget-title {
  font-size: 1.6rem;
  border-bottom: 2px solid #b4dff3; }

@media screen and (max-width: 672px) {
  .content-sidebar {
    margin-left: auto;
    width: 100%; } }
.site-footer {
  background-color: #5198ce; }
  .site-footer .site-info {
    text-align: center;
    color: #555555; }
    .site-footer .site-info a {
      color: #fff; }

@media screen and (max-width: 640px) {
  html {
    font-size: 10px; }

  .site-content {
    margin-right: 0; }

  body {
    background-image: url("files/2014/07/bkgHeaderS.jpg");
    background-position: center top;
    background-size: 640px; }

  #masthead {
    background-image: url("files/2014/07/txtHeaderS.png");
    background-position: center top;
    background-size: 640px;
    height: 640px; } }
@media screen and (max-width: 400px) {
  body {
    background-size: 400px; }

  #masthead {
    background-size: 400px;
    height: 400px; }

  .primary-navigation {
    top: 400px; }

  .list-view .content-area {
    padding: 30px 0; }
  .list-view .site-content .hentry:last-child {
    border-bottom: none; }

  .content-sidebar {
    margin-top: 0; }
    .single .content-sidebar {
      border-top: 0; } }
/* for Android @2
---------------------------------------- */
@media screen and (max-width: 360px) {
  body {
    background-size: 360px; }

  #masthead {
    background-size: 360px;
    height: 360px; } }
/* for iPhone @2
---------------------------------------- */
@media screen and (max-width: 320px) {
  body {
    background-size: 320px; }

  #masthead {
    background-size: 320px;
    height: 320px; }

  .primary-navigation {
    top: 320px; } }
/* any other devices following twentyfourteen
---------------------------------------- */
@media screen and (min-width: 401px) {
  body {
    background-position: center top;
    background-size: 640px auto; }

  #masthead {
    height: 592px;
    background-position: center;
    background-size: 100%; }
    #masthead:after {
      margin-top: 20px; }

  .primary-navigation {
    top: 592px; }

  .list-view .site-content .hentry {
    position: relative;
    padding: 80px 0 48px; }
    .list-view .site-content .hentry.has-post-thumbnail {
      padding-top: 80px;
      border-top: 1px solid rgba(0, 0, 0, 0.1); } }
@media only screen and (min-width: 594px) {
  .menu-toggle, .full-width .site-content .entry-header, .full-width #secondary #primary-sidebar, .full-width .entry-content .entry-content__row__inner {
    padding-right: 30px;
    padding-left: 30px; }

  #main, .primary-navigation .nav-menu {
    padding-left: 30px;
    padding-right: 30px; }

  .primary-sidebar .snsBtn {
    float: left;
    margin: 0 0.25%;
    width: 33%; }

  .nav-links a {
    width: 50%; } }
/* =========================================================
	 Tablet Size
========================================================= */
@media only screen and (min-width: 641px) {
  body {
    background-image: url("files/2014/07/bkgHeaderM.jpg");
    background-size: auto 640px; }

  #masthead {
    height: 640px;
    background-image: url("files/2014/06/txtHeaderM.png");
    background-size: 860px auto; }
    #masthead:after {
      display: block;
      overflow: hidden;
      padding-top: 180px;
      width: 180px;
      height: 0;
      background-image: url("files/2014/06/iconWapu.png");
      background-position: 0, 0;
      background-size: 100%;
      background-repeat: no-repeat;
      top: 32%;
      right: 4%;
      margin-top: -90px; }

  .header-main {
    padding-top: 640px; }

  .primary-navigation {
    top: 640px; }

  .content-sidebar {
    padding: 0; }

  .blog .site-content .entry-header,
  .archive .site-content .entry-header,
  .single .site-content .entry-header,
  .page-template-default .site-content .entry-header {
    position: relative;
    position: relative;
    padding-right: 100px;
    padding-bottom: 20px;
    margin-bottom: 20px; }
    .blog .site-content .entry-header:before,
    .archive .site-content .entry-header:before,
    .single .site-content .entry-header:before,
    .page-template-default .site-content .entry-header:before {
      display: block;
      content: "";
      position: absolute; }
    .blog .site-content .entry-header:after,
    .archive .site-content .entry-header:after,
    .single .site-content .entry-header:after,
    .page-template-default .site-content .entry-header:after {
      display: block;
      content: "";
      position: relative; }
    .blog .site-content .entry-header:before,
    .archive .site-content .entry-header:before,
    .single .site-content .entry-header:before,
    .page-template-default .site-content .entry-header:before {
      display: block;
      overflow: hidden;
      padding-top: 116.8px;
      width: 156.8px;
      height: 0;
      background-image: url("files/2014/07/ttl_postWapu.png");
      background-position: 0, 0;
      background-size: 100%;
      background-repeat: no-repeat;
      right: -6px;
      bottom: 6px;
      z-index: 10; }
    .blog .site-content .entry-header:after,
    .archive .site-content .entry-header:after,
    .single .site-content .entry-header:after,
    .page-template-default .site-content .entry-header:after {
      display: block;
      overflow: hidden;
      padding-top: 15px;
      width: 100%;
      height: 0;
      background-image: url("files/2014/07/ttl_postBtmLine.png");
      background-position: 0, 0;
      background-size: 100%;
      background-repeat: no-repeat;
      bottom: 0;
      box-sizing: border-box;
      background-position: bottom right;
      background-size: auto 15px;
      background-repeat: repeat-x; }
    .blog .site-content .entry-header > .entry-meta:first-child,
    .archive .site-content .entry-header > .entry-meta:first-child,
    .single .site-content .entry-header > .entry-meta:first-child,
    .page-template-default .site-content .entry-header > .entry-meta:first-child {
      position: relative; }
      .blog .site-content .entry-header > .entry-meta:first-child:before,
      .archive .site-content .entry-header > .entry-meta:first-child:before,
      .single .site-content .entry-header > .entry-meta:first-child:before,
      .page-template-default .site-content .entry-header > .entry-meta:first-child:before {
        display: block;
        content: "";
        position: absolute; }
      .blog .site-content .entry-header > .entry-meta:first-child .cat-links a,
      .archive .site-content .entry-header > .entry-meta:first-child .cat-links a,
      .single .site-content .entry-header > .entry-meta:first-child .cat-links a,
      .page-template-default .site-content .entry-header > .entry-meta:first-child .cat-links a {
        color: #d35991; }
        .blog .site-content .entry-header > .entry-meta:first-child .cat-links a:before,
        .archive .site-content .entry-header > .entry-meta:first-child .cat-links a:before,
        .single .site-content .entry-header > .entry-meta:first-child .cat-links a:before,
        .page-template-default .site-content .entry-header > .entry-meta:first-child .cat-links a:before {
          position: static;
          display: inline-block;
          content: "\f301";
          vertical-align: text-bottom;
          font-size: 16px;
          font-family: Genericons;
          line-height: 1em; }
    .blog .site-content .entry-header > .entry-meta:last-child,
    .archive .site-content .entry-header > .entry-meta:last-child,
    .single .site-content .entry-header > .entry-meta:last-child,
    .page-template-default .site-content .entry-header > .entry-meta:last-child {
      position: relative;
      display: inline-block;
      background-color: #d35991;
      color: #fff;
      padding: 0.25em 0.5em; }
      .blog .site-content .entry-header > .entry-meta:last-child:after,
      .archive .site-content .entry-header > .entry-meta:last-child:after,
      .single .site-content .entry-header > .entry-meta:last-child:after,
      .page-template-default .site-content .entry-header > .entry-meta:last-child:after {
        display: block;
        content: "";
        position: absolute; }
      .blog .site-content .entry-header > .entry-meta:last-child a,
      .archive .site-content .entry-header > .entry-meta:last-child a,
      .single .site-content .entry-header > .entry-meta:last-child a,
      .page-template-default .site-content .entry-header > .entry-meta:last-child a {
        color: #fff; }
  .blog .site-content .entry-title,
  .archive .site-content .entry-title,
  .single .site-content .entry-title,
  .page-template-default .site-content .entry-title {
    box-sizing: border-box;
    padding-right: 60px; }
    .blog .site-content .entry-title a,
    .archive .site-content .entry-title a,
    .single .site-content .entry-title a,
    .page-template-default .site-content .entry-title a {
      color: #000; } }
@media screen and (min-width: 673px) {
  .site-content .entry-header,
  .site-content .entry-content,
  .site-content .entry-summary,
  .site-content .entry-meta,
  .site-content .page-content,
  .site-content .comments-area {
    max-width: 780px;
    max-width: 100%; } }
/* =========================================================
	 Navigation Expanded
========================================================= */
@media screen and (min-width: 783px) {
  body {
    background-position: center top;
    background-size: 1280px auto; }

  #masthead {
    height: 704px;
    background-size: 1000px auto;
    background-size: center top; }
    #masthead:after {
      right: 10%; }

  .site-navigation li {
    width: 12%;
    height: 36px;
    line-height: 36px; }
  .site-navigation a {
    text-align: center;
    height: 36px;
    line-height: 36px; }

  .primary-navigation {
    top: 704px;
    padding: 6px 0; }
    .primary-navigation a {
      padding: 0 20px;
      width: 100%; }

  .primary-sidebar .widget {
    max-width: 100%; } }
/* =========================================================
	 PC Size
========================================================= */
@media screen and (min-width: 846px) {
  #masthead {
    background-size: 1280px auto; }

  .content-sidebar {
    margin-top: 72px;
    margin-left: -300px; }

  .site-content {
    margin: 0 360px 0 auto; }

  .content-sidebar {
    width: 300px; }

  .blog .site-content .entry-header,
  .archive .site-content .entry-header,
  .single .site-content .entry-header,
  .page-template-default .site-content .entry-header {
    padding-right: 60px; }
    .blog .site-content .entry-header:before,
    .archive .site-content .entry-header:before,
    .single .site-content .entry-header:before,
    .page-template-default .site-content .entry-header:before {
      right: -56px; }

  #main, .primary-navigation .nav-menu {
    padding-left: 20px;
    padding-right: 20px; } }
@media screen and (min-width: 1008px) {
  #masthead {
    background-position: center center;
    background-size: 1280px auto; } }
@media screen and (min-width: 1110px) {
  #main, .primary-navigation .nav-menu {
    padding-left: 0;
    padding-right: 0; }

  .blog .site-content .entry-header,
  .archive .site-content .entry-header,
  .single .site-content .entry-header,
  .page-template-default .site-content .entry-header {
    padding-right: 100px; }
    .blog .site-content .entry-header:before,
    .archive .site-content .entry-header:before,
    .single .site-content .entry-header:before,
    .page-template-default .site-content .entry-header:before {
      display: block;
      overflow: hidden;
      padding-top: 146px;
      width: 196px;
      height: 0;
      background-image: url("files/2014/07/ttl_postWapu.png");
      background-position: 0, 0;
      background-size: 100%;
      background-repeat: no-repeat;
      bottom: 3px; } }
@media screen and (min-width: 1218px) {
  .archive-header,
  .comments-area,
  .image-navigation,
  .page-header,
  .page-content,
  .post-navigation,
  .site-content .entry-header,
  .site-content .entry-content,
  .site-content .entry-summary,
  .site-content footer.entry-meta {
    margin-right: 0; } }
@media screen and (min-width: 1281px) {
  body {
    background-size: 100%; }

  #masthead {
    background-size: 100%; } }
@media only screen and (min-width: 1440px) {
  body {
    background-image: url("files/2014/06/bkgHeaderL.jpg");
    background-position: center top;
    background-size: 1920px 1080px; }

  #masthead {
    height: 1080px;
    background-image: url("files/2014/06/txtHeaderL.png");
    background-size: 100%; }
    #masthead:after {
      display: block;
      overflow: hidden;
      padding-top: 300px;
      width: 300px;
      height: 0;
      background-image: url("files/2014/06/iconWapu.png");
      background-position: 0, 0;
      background-size: 100%;
      background-repeat: no-repeat;
      margin-top: -150px; }

  .primary-navigation {
    top: 1080px; } }
/* =========================================================
	 Retina dispaly devices
========================================================= */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 960px) and (max-width: 1920px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 960px) and (max-width: 1920px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 960px) and (max-width: 1920px), only screen and (min-device-pixel-ratio: 2) and (min-width: 960px) and (max-width: 1920px), only screen and (min-resolution: 192dpi) and (min-width: 960px) and (max-width: 1920px), only screen and (min-resolution: 2dppx) and (min-width: 960px) and (max-width: 1920px) {
  body {
    background-image: url("files/2014/06/bkgHeaderL.jpg");
    background-size: 1280px auto;
    background-position: center top; }

  #masthead {
    height: 704px;
    background-image: url("files/2014/06/txtHeaderL.png");
    background-size: 1280px auto; }

  .primary-navigation {
    top: 704px; }

  .blog .site-content .entry-header:before,
  .archive .site-content .entry-header:before,
  .single .site-content .entry-header:before,
  .page-template-default .site-content .entry-header:before {
    display: block;
    overflow: hidden;
    padding-top: 146px;
    width: 196px;
    height: 0;
    background-image: url("files/2014/07/ttl_postWapu@2x.png");
    background-position: 0, 0;
    background-size: 100%;
    background-repeat: no-repeat; }
  .blog .site-content .entry-header:after,
  .archive .site-content .entry-header:after,
  .single .site-content .entry-header:after,
  .page-template-default .site-content .entry-header:after {
    display: block;
    overflow: hidden;
    padding-top: 15px;
    width: 100%;
    height: 0;
    background-image: url("files/2014/07/ttl_postBtmLine@2x.png");
    background-position: 0, 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: auto 15px;
    background-repeat: repeat-x; } }
