footer.l-footer

  h1.sponsorTitle.sponsorTitle--platinum: span.sponsorTitle__inner Platinum
  ul.sponsorList.sponsorList--platinum
    li
      a.sponsorList__sponsorLogo(href="http://2014.tokyo.wordcamp.org/sponsor/prime-strategy/")
        img.attachment-post-thumbnail.wp-post-image(width="450" height="100" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_platinum_prime_strategy.png" alt="プライム・ストラテジー株式会社" class="aligncenter size-full wp-image-167923")
    li
      a.sponsorList__sponsorLogo(href="http://2014.tokyo.wordcamp.org/sponsor/sova-global-inc/ ")
        img.attachment-post-thumbnail.wp-post-image(width="450" height="100" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_platinum_sova-wp.png" alt="Sova Global Inc" class="aligncenter size-full wp-image-167944")

  h1.sponsorTitle.sponsorTitle--gold: span.sponsorTitle__inner Gold
  ul.sponsorList.sponsorList--gold
    li
      a.sponsorList__sponsorLogo(href="http://2014.tokyo.wordcamp.org/sponsor/typesquare/")
        img.attachment-post-thumbnail.wp-post-image(width="300" height="100" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_gold_typesquare.png" alt="株式会社モリサワ" class="aligncenter size-full wp-image-167944")
    li
      a.sponsorList__sponsorLogo(href="http://2014.tokyo.wordcamp.org/sponsor/seta-international/")
        img.attachment-post-thumbnail.wp-post-image(width="300" height="100" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_gold_seta-international.png" alt="株式会社セタ・インターナショナル" class="aligncenter size-full wp-image-168237")

  h1.sponsorTitle.sponsorTitle--silver: span.sponsorTitle__inner Silver
  ul.sponsorList.sponsorList--silver
    li
      a.sponsorList__sponsorLogo(href="http://office7f.com/" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_office7f.png" alt="コワーキングスペース7F" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://www.members.co.jp/" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_members.png" alt="株式会社メンバーズ" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://wc.artws.info/" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_artws.png" alt="職人工房　合同会社" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://www.cmswp.jp/" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_cmswp.png" alt="WordPressのプラグイン販売サイト CMS×WP" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://nssx.co.jp" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_nss.png" alt="NSSワークス株式会社" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://www.happycom.co.jp" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_happycom.png" alt="Happyデジタル" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://www.firstelement.jp/fe-advanced-search/ " target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_firstelement.png" alt="ファーストエレメント" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://universions.com" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_universions.png" alt="universions" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://www.asial.co.jp/" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_asial.png" alt="アシアル株式会社" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://alleyoop.jp" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_alleyoop.png" alt="有限会社アリウープ" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://www.fsv.jp/" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_fsv.png" alt="ファーストサーバ株式会社" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://www.site-patrol.biz/" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_m2m.png" alt="SitePatrol" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://tarosky.co.jp" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_tarosky.png" alt="タロスカイ株式会社" class="aligncenter")

  h1.sponsorTitle.sponsorTitle--bronze: span.sponsorTitle__inner Bronze
  ul.sponsorList.sponsorList--bronze
    li
      a.sponsorList__sponsorLogo(href="https://aistear.co.jp/" target="_blanck") 株式会社アーシタン
    li
      a.sponsorList__sponsorLogo(href="http://helmetz.net/" target="_blank") おおはらWebデザイン事務所
    li
      a.sponsorList__sponsorLogo(href="http://xn--yckq0d0ae4azfrgce.net/" target="_blank") ホームページビルダー教室
    li
      a.sponsorList__sponsorLogo(href="http://arts-web.co.jp/" target="_blank") WEB戦略アーツ＆ウェブ
    li
      a.sponsorList__sponsorLogo(href="http://yyengine.jp" target="_blank") 株式会社ワイワイエンジン
    li
      a.sponsorList__sponsorLogo(href="http://8balloons.jp/" target="_blank") 株式会社エイトバルーン
    li
      a.sponsorList__sponsorLogo(href="http://www.rescuework.jp/" target="_blank") レスキューワーク株式会社
    li
      a.sponsorList__sponsorLogo(href="http://greenbuzz.jp" target="_blank") GREEN BUZZ / グリーンバズ
    li
      a.sponsorList__sponsorLogo(href="http://www.coworking.tokyo.jp/" target="_blank") コワーキングスペース茅場町 Co-Edo
    li
      a.sponsorList__sponsorLogo(href="http://www.greensheep.co.jp/" target="_blank") 株式会社グリーンシープ
    li
      a.sponsorList__sponsorLogo(href="http://www.kazmia.co.jp/" target="_blank") カズミア株式会社

  h1.sponsorTitle.sponsorTitle--wordpress: span.sponsorTitle__inner Champion
  ul.sponsorList.sponsorList--champion
    li
      a.sponsorList__sponsorLogo(href="http://2014.tokyo.wordcamp.org/sponsor/jetpack/")
        img.attachment-post-thumbnail.wp-post-image(width="450" height="100" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_champion_jetpack.png" alt="Jetpack" class="aligncenter size-full")
    li
      a.sponsorList__sponsorLogo(href="http://2014.tokyo.wordcamp.org/sponsor/bluehost/")
        img.attachment-post-thumbnail.wp-post-image(width="450" height="100" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_champion_bluehost.png" alt="Bluehost" class="aligncenter size-full")
    li
      a.sponsorList__sponsorLogo(href="http://2014.tokyo.wordcamp.org/sponsor/dreamhost/")
        img.attachment-post-thumbnail.wp-post-image(width="450" height="100" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_champion_dreamhost.png" alt="DreamHost" class="aligncenter size-full")

  h1.sponsorTitle.sponsorTitle--wordpress: span.sponsorTitle__inner Accomplice
  ul.sponsorList.sponsorList--accomplice
    li
      a.sponsorList__sponsorLogo(href="http://2014.tokyo.wordcamp.org/sponsor/wpml/")
        img.attachment-post-thumbnail.wp-post-image(width="300" height="100" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_accomplice_wpml.png" alt="WPML" class="aligncenter size-full")

  h1.sponsorTitle.sponsorTitle--wordpress: span.sponsorTitle__inner Media
  ul.sponsorList.sponsorList--silver
    li
      a.sponsorList__sponsorLogo(href="http://www.atmarkit.co.jp" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_media_atmarkit.png" alt="@IT")

  h1.sponsorTitle.sponsorTitle--wordpress: span.sponsorTitle__inner 翻訳
  ul.sponsorList.sponsorList--silver
    li
      a.sponsorList__sponsorLogo(href="http://merrybiz.jp/" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_translate_merrybiz.png" alt="MerryBiz")