footer.l-footer
  h1.sponsorTitle.sponsorTitle--platinum: span.sponsorTitle__inner Platinum
  ul.sponsorList.sponsorList--platinum
    li
      a.sponsorList__sponsorLogo(href="http://2014.tokyo.wordcamp.org/sponsor/prime-strategy/")
        img.attachment-post-thumbnail.wp-post-image(width="450" height="100" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_platinum_prime_strategy.png" alt="プライム・ストラテジー株式会社" class="aligncenter size-full wp-image-167923")
    li
      a.sponsorList__sponsorLogo(href="http://2014.tokyo.wordcamp.org/sponsor/sova-global-inc/ ")
        img.attachment-post-thumbnail.wp-post-image(width="450" height="100" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_platinum_sova-wp.png" alt="Sova Global Inc" class="aligncenter size-full wp-image-167944")
  h1.sponsorTitle.sponsorTitle--gold: span.sponsorTitle__inner Gold
  ul.sponsorList.sponsorList--gold
    li
      a.sponsorList__sponsorLogo(href="http://2014.tokyo.wordcamp.org/sponsor/typesquare/")
        img.attachment-post-thumbnail.wp-post-image(width="300" height="100" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_gold_typesquare.png" alt="株式会社モリサワ" class="aligncenter size-full wp-image-167944")
    li
      a.sponsorList__sponsorLogo(href="http://2014.tokyo.wordcamp.org/sponsor/seta-international/")
        img.attachment-post-thumbnail.wp-post-image(width="300" height="100" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_gold_seta-international.png" alt="株式会社セタ・インターナショナル" class="aligncenter size-full wp-image-168237")
  h1.sponsorTitle.sponsorTitle--silver: span.sponsorTitle__inner Silver
  ul.sponsorList.sponsorList--silver
    li
      a.sponsorList__sponsorLogo(href="http://office7f.com/" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_office7f.png" alt="コワーキングスペース7F" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://www.members.co.jp/" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_members.png" alt="株式会社メンバーズ" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://wc.artws.info/" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_artws.png" alt="職人工房　合同会社" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://www.cmswp.jp/" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_cmswp.png" alt="WordPressのプラグイン販売サイト CMS×WP" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://nssx.co.jp" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_nss.png" alt="NSSワークス株式会社" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://www.happycom.co.jp" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_happycom.png" alt="Happyデジタル" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://www.firstelement.jp/fe-advanced-search/ " target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_firstelement.png" alt="ファーストエレメント" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://universions.com" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_universions.png" alt="universions" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://www.asial.co.jp/" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_asial.png" alt="アシアル株式会社" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://alleyoop.jp" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_alleyoop.png" alt="有限会社アリウープ" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://www.fsv.jp/" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_fsv.png" alt="ファーストサーバ株式会社" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://www.site-patrol.biz/" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_m2m.png" alt="SitePatrol" class="aligncenter")
    li
      a.sponsorList__sponsorLogo(href="http://tarosky.co.jp" target="_blank")
        img.attachment-post-thumbnail.wp-post-image(width="200" height="90" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_silver_tarosky.png" alt="タロスカイ株式会社" class="aligncenter")