@charset "utf-8";
$filePath          : "http://2014.tokyo.wordcamp.org/files/";
$filePath          : "files/";

// HTML5
$html5             : true;

// IE9 SVG
$experimental-support-for-svg: false;

// font-family
$fontFamily: "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Verdana, Arial, Helvetica, sans-serif;
$fontFamilyEn:  HelveticaNeue, Helvetica, Arial, Verdana, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
$fontFamilyLight: 'HelveticaNeue-Light', Helvetica, Arial, Verdana, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
$fontCode   : monospace, "ＭＳ Ｐ ゴシック","MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;

// Colum Base Width
$maxWidth          : 1080px;

//Color
$colorBorder       : #000;
$colorBkg          : #5198ce;
$colorLink         : #fff;
$colorLinkActive   : #fff;
$colorLinkHover    : #fff;
$colorLinkVisited  : #fff;
$colorLinkSelect   : #1E5D8A; 
$colorBlue         : #3595BE;
$colorPink         : #D35991;
$colorSubText      : #666;
$colorText         : #2b2b2b;