@charset "utf-8";
$filePath          : "http://2014.tokyo.wordcamp.org/files/";
$filePath          : "files/";

// HTML5
$html5             : true;

// IE9 SVG
$experimental-support-for-svg: false;

// font-family
$fontFamily        : "Helvetica Neue", "Helvetica", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Arial", "Verdana", "sans-serif";
$fontFamilyEn      :  HelveticaNeue, Helvetica, Arial, Verdana, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
$fontFamilyLight   : 'HelveticaNeue-Light', Helvetica, Arial, Verdana, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
$fontCode          : monospace, "ＭＳ Ｐ ゴシック","MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;

// Colum Base Width
$maxWidth          : 1080px;

// primary-navigation size
$menuItemWidth     : 13%;
$menuItemHeight    : 36px;
$menuHeight        : 48px;
$menuPadding       : ($menuHeight - $menuItemHeight) / 2; // Calclate padding size automatically

// Basic Colors
$colorBorder       : #000;
$colorBkg          : #5198ce;
$colorBlue         : #3595BE;
$colorPink         : #ef86b4;  // #d35991
$colorOrange       : #e6b85d;
// Text Colors
$colorText         : #555555;
$colorSubText      : #666;
$colorTitle        : #555555;
$colorLink         : darken($colorBlue, 12%);
$colorLinkHover    : lighten($colorBlue, 9%);
$colorSelection    : #accef7;
// Navigation colors
$colorNav          : #ef86b4;
$colorNavHover     : lighten($colorNav, 17%);
$colorNavActive    : lighten($colorNav, 17%);
// Optional colors
$colorTw           : #55acee;
$colorFb           : #3b5998;
$colorGp           : #dd4b39;
