@charset "utf-8";
$filePath          : "http://2014.tokyo.wordcamp.org/files/";
$filePath          : "files/";

// HTML5
$html5             : true;

// IE9 SVG
$experimental-support-for-svg: false;

// font-family
$fontFamily        : "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Verdana, Arial, Helvetica, sans-serif;
$fontFamilyEn      :  HelveticaNeue, Helvetica, Arial, Verdana, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
$fontFamilyLight   : 'HelveticaNeue-Light', Helvetica, Arial, Verdana, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
$fontCode          : monospace, "ＭＳ Ｐ ゴシック","MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;

// Colum Base Width
$maxWidth          : 1080px;

// primary-navigation size
$menuItemWidth     : 12%;
$menuItemHeight    : 36px;
$menuHeight        : 48px;
$menuPadding       : ($menuHeight - $menuItemHeight) / 2; // Calclate padding size automatically

//Color
$colorBorder       : #000;
$colorBkg          : #5198ce;
$colorLink         : #1E5D8A;
$colorLinkActive   : #1E5D8A;
$colorLinkHover    : #1E5D8A;
$colorLinkVisited  : #1E5D8A;
$colorLinkSelect   : #1E5D8A; 
$colorBlue         : #3595BE;
$colorPink         : #D35991;
$colorText         : #555555;
$colorOrange       : #e6b85d;
$colorSubText      : #666;
$colorText         : #2b2b2b;
$colorTw           : #55acee;
$colorFb           : #3b5998;
$colorGp           : #dd4b39;
