@charset 'utf-8';
/* =========================================================
	 The root elemen
========================================================= */
html{
	font-size: 10px;
}
body{
	background-color: #fff;
	background-repeat: no-repeat;
	color: $colorText;
	font-family: $fontFamily;
}

/* =========================================================
	 Grouping content
========================================================= */
iframe{
	vertical-align: middle;
}

/* =========================================================
	 Text-level semantics
========================================================= */
a{
	color: $colorLink;
	transition: color 0.2s ease;
	&:focus{
		outline: thin dotted;
	}
	&:link,
	&:visited{
		color: $colorLink;
	}
	&:hover,
	&:active{
		outline: 0;
		color: $colorLinkHover;
		text-decoration: underline;
	}
}
p{
	color: $colorText;
	&:last-child{
		margin-bottom: 0;
	}
}
h1, h2, h3, h4, h5, h6{
	&,
	& > a{
		color: $colorTitle;
	}
}
::selection{
	background-color: $colorSelection;
	color: $colorText
}
.fa{
	display: inline-block;
	text-decoration: none;
}
.fontEn{
	font-family: $fontFamilyEn;
}

/* =========================================================
	 Embedded content
========================================================= */
img{
	vertical-align: bottom;
	border: 0;
}
svg:not(:root){
	overflow: hidden;
}

/* =========================================================
	 Tabular data
========================================================= */
table{
	font: 100%;
	font-size: inherit;
	border-spacing: 0;
	border-collapse: collapse;
}