/* Posts
---------------------------------------- */
article.post{
	margin-left: 0;
}

.hentry{
	margin: 0 auto;
	max-width: 900px;
}

// entry-header
.entry-header{
	> .entry-meta{
		&:first-child{
			@include hasPseudoClass(before);
			.cat-links{
				a{
					color: $colorPink;
					&:hover{
						color: darken($colorPink, 6%);
					}
					&:before{
						@include genericon('\f301');
					}
				}
			}
		}
		&:last-child{
			@include hasPseudoClass(after);
			display: inline-block;
			padding: 0.25em 0;
			width: 100%;
			color: $colorPink;
			a{
				color: $colorPink;
				&:hover{
					text-decoration: none;
					color: $colorNavHover;
				}
			}
		}
	}
}
// entry-title
.entry-title{
	&,
	& a{
		display: block;
		width: 100%;
		height: 100%;
		&:hover{
			text-decoration: none;
		}
	}
}
.blog,
.archive,
.single,
.page-template-default{
	.site-content{
		@extend %postTitle;
	}
}
@mixin definePostTitle{
	.entry-header{
		@include hasPseudoClass(before);
		@include hasPseudoClass(after, relative);
		padding-right: 100px;
		padding-bottom: 20px;
		margin-bottom: 20px;
		&:before{
			@include imageReplace('2014/07/ttl_postWapu.png', 196px, 146px, 0.8);
			right: -6px;
			bottom: 6px;
			z-index: 10;
		}
		&:after{
			@include imageReplace('2014/07/ttl_postBtmLine.png', 100%, 15px, 1);
			bottom: 0;
			box-sizing: border-box;
			background-position: bottom right;
			background-size: auto 15px;
			background-repeat: repeat-x;
		}
		> .entry-meta{
			&:last-child{
				padding-right: 40px;
				padding-left: 0.5em;
				width: auto;
				background-color: $colorPink;
				color: #fff;
				a{
					color: #fff;
				}
				&:after{
					top: 0;
					right: 0;
					border-top: 0 solid transparent;
					border-right: 40px solid #fff;
					border-bottom: 23px solid transparent;
				}
			}
		}
	}
	.entry-title{
		box-sizing: border-box;
		padding-right: 60px;
		a{
			color: $colorTitle;
			&:hover{
				color: $colorLinkHover;
			}
		}
	}
}

// Post footer
@mixin definePostFooterDecolate{
	.hentry{
		position: relative;
		padding: 80px 0 48px;
		// &:before{
		// 	@include genericon('\f433', 40px);
		// 	position: absolute;
		// 	bottom: 0;
		// 	color: #e7e7e7;
		// 	left: 0;
		// }
		// &:after{
		// 	@include genericon('\f434', 40px);
		// 	position: absolute;
		// 	bottom: 0;
		// 	color: #e7e7e7;
		// 	right: 0;
		// }
		&.has-post-thumbnail{
			padding-top: 80px;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			.entry-meta{
				.cat-links{
					background-color: rgba($colorPink, 0.8);
					padding: 3px 5px;
					color: #e1e1e1;
					a{
						display: inline-block;
						color: #fff;
					}
				}
			}
			.entry-title{
				margin-top: 15px; // 20 - (.cat-link's padding-bottom size)
			}
		}
	}
}
.list-view{
	.site-content{
		@extend %postFooterDecolate;
	}
}

/* Single post navigation
---------------------------------------- */
.nav-links{
	width: 100%;
	a{
		@include hasPseudoClass(before);
		display: inline-block;
		width: 100%;
		box-sizing: border-box;
		&:before{
			@include genericon('\f104');
			top: 50%;
			box-sizing: border-box;
			margin-top: -18px;
			width: 36px;
			height: 36px;
			border-radius: 100%;
			background-color: $colorOrange;
			color: #fff;
			text-align: center;
			line-height: 36px;
			padding-left: 2px;
		}
		&:first-child{
			padding: 10px 10px 10px 46px;
			&:before{
				transform: rotate(180deg);
				position: absolute;
				left: 0;
			}
		}
		&:last-child{
			padding: 10px 46px 10px 10px;
			text-align: right;
			&:before{
				position: absolute;
				right: 0;
			}
		}
	}
}

/* Entry content styles
---------------------------------------- */
// entry-header
article .entry-header{
	padding-top: 44px;
}

// entry-content
.entry-content h1{
	@include hasPseudoClass(before);
	display: block;
	box-sizing: border-box;
	padding: 8px 12px 8px 62px;
	max-width: 100%;
	border: 3px solid rgb(239, 239, 239);
	box-shadow: rgba(240, 240, 240, 0.35098) -2px 0px 1px;
	color: $colorTitle;
	letter-spacing: 1px;
	line-height: 1.2;
	&:before{
		@include imageReplace('2014/07/ttl_entry-title01.png', 226px, 161px, 0.5);
		top: -20px;
		left: -54px;
	}
}
.entry-content h2{
	@include hasPseudoClass(after);
	padding-bottom: 14px;
	&:after{
		bottom: 0;
		left: 0;
		width: 100%;
		height: 10px;
		background-color: transparent;
		background-image: linear-gradient(315deg,
			rgba(231,185,85,1) 25%,
			rgba(231,185,85,0) 25%,
			rgba(231,185,85,0) 50%,
			rgba(231,185,85,1) 50%,
			rgba(231,185,85,1) 75%,
			rgba(231,185,85,0) 75%,
			rgba(231,185,85,0)
		);
		background-position: 0 20px;
		background-size: 14px 14px;
	}
}
.entry-content h3{
	padding: 14px 20px 14px 50px;
	background: url($filePath + "2014/07/ttl_entry-title03_left.png");
	background-size: 42px 52px;
	background-repeat: no-repeat;
	@include hasPseudoClass(after);
	&:after{
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
		background-image: linear-gradient(90deg,
			rgba(251,238,249,1) 25%,
			rgba(251,238,249,0) 25%,
			rgba(251,238,249,0) 50%,
			rgba(251,238,249,1) 50%,
			rgba(251,238,249,1) 75%,
			rgba(251,238,249,0) 75%,
			rgba(251,238,249,0)
		);
		background-position: 0 20px;
		background-size: 16px 14px;
		z-index: -1;
	}
}
.entry-content h4{
	padding: 0 10px 20px;
	background: url($filePath + "2014/07/ttl_entry-title04.png") left bottom no-repeat;
	background-size: 100% auto;
}
.entry-content h5{
	padding: 5px 20px 4px;
	background: url($filePath + "2014/07/ttl_entry-title05.png") left top repeat-y;
	background-size: 11px 35px;
}
.entry-content h6{
	padding: 0 5px;
	border-left: solid #e3e3e3 10px;
	background-size: 12px 38px;
}
.entry-content{
	h1, h2, h3, h4, h5, h6{
		margin-top: 2em;
	}
}

blockquote{
	@include hasPseudoClass(both);
	padding:3em 1em;
	position:relative;
	&:before{
		content: "“";
		font-size: 600%;
		line-height: 1em;
		font-family: "ＭＳ Ｐゴシック",sans-serif;
		color: #fad4e7;
		left: 0;
		top: 0;
	}
	&:after{
		content: "”";
		font-size: 600%;
		line-height: 0em;
		font-family: "ＭＳ Ｐゴシック",sans-serif;
		color: #fad4e7;
		right: 0;
		bottom: 0;
	}
}

// entry-meta
.entry-meta{
	.tag-links{
		a{
			&:hover {
				background-color: lighten($colorPink, 6%);
				text-decoration: none;
				&:before {
					border-right-color: lighten($colorPink, 6%);
				}
			}
		}
	}
}