@charset 'utf-8';

.describe-icons {
  @extend %group;
  list-style: none;
  margin-left: 0;
  float: right;
  li {
    float: left;
    margin-right: .8em;
    &:last-child {
      margin-right: 0;
    }
  }
  .describe-icon {
    margin-right: .25em;
    &--designer {
      @include sprite-ir($icon_time-table_designer, 0.3, inline-block);
    }
    &--contents {
      @include sprite-ir($icon_time-table_contents, 0.3, inline-block);
    }
    &--developper {
      @include sprite-ir($icon_time-table_developper, 0.3, inline-block);
    }
    &--all {
      @include sprite-ir($icon_time-table_all, 0.3, inline-block);
    }
  }
}

// Variables
$colorBorder: #efefef;
$colorRest: lighten(#87e6ad, 16%);

caption,
table,
th,
td {
  font-weight: normal;
  text-align: left;
  border-width: 0;
}

.timetable {
  width: 100%;
  margin: 0 0 20px 0;
  border-spacing: 0;
  border-collapse: collapse;
  border-width: 0;
  table-layout: fixed;
  thead tr {
    border-color: lighten($colorBlue, 3%);
    &:first-child th {
      color: #fff;
      border-width: 0;
      border-style: solid;
      vertical-align: middle;
    }
  }
  tr {
    border-width: 0;
    &.restRow {
      .time {
        background-color: transparent;
        padding: 8px;
      }
    }
    %tdth {
      padding: 16px 8px;
      border-width: 0;
      box-sizing: border-box;
      word-wrap: break-all;
      &.rest {
        text-align: center;
        background-color: transparent;
        color: #aaa;
      }
      &.time {
        text-align: center;
      }
      &.cell--01 {
        width: 22%;
      }
      &.cell--02 {
        width: 22%;
      }
      &.cell--03 {
        width: 12%;
      }
      &.cell--04 {
        width: 12%;
      }
      &.cell--05 {
        width: 16%;
      }
      &.cell--06 {
        width: 16%;
      }
    }
    th {
      @extend %tdth;
      font-weight: bold;
      text-align: center;
      &.time {
        background-color: lighten(#a69e8c, 36%);
        &:before {
          @include genericon('\f303', 1.2em);
        }
      }
      &.rest {
        border-color: transparent;
      }
      &.cell--01 {
        background-color: #d35b94;
        border-color: #d35b94;
      }
      &.cell--02 {
        background-color: #8ac56c;
        border-color: #8ac56c;
      }
      &.cell--03 {
        background-color: #3dbee8;
        border-color: #3dbee8;
      }
      &.cell--04 {
        background-color: #f1ba19;
        border-color: #f1ba19;
      }
      &.cell--05 {
        background-color: #e13e3b;
        border-color: #e13e3b;
      }
      &.cell--06{
        background-color: #88549f;
        border-color: #88549f;
      }
    }
    td {
      @extend %tdth;
      border-bottom-width: 8px;
      border-color: #fff;
      &.rest {
        padding-top: 0;
        padding-bottom: 8px;
      }
      &.none {}
      &.cell--merged {
        text-align: center;
      }
      &.cell--01 {
        background-color: #faf1f6;
        .session-tag {
          &--type,
          &--target-01 {
            span {
              background-color: #d35b94;
            }
          }
        }
      }
      &.cell--02 {
        background-color: #eff6ef;
        .session-tag {
          &--type,
          &--target-01 {
            span {
              background-color: #8ac56c;
            }
          }
        }
      }
      &.cell--03 {
        background-color: #ecf4f8;
        .session-tag {
          &--type,
          &--target-01 {
            span {
              background-color: #3e7eb9;
            }
          }
        }
      }
      &.cell--04 {
        background-color: #f7f8e7;
        .session-tag {
          &--type,
          &--target-01 {
            span {
              background-color: #c19018;
            }
          }
        }
      }
      &.cell--05 {
        background-color: #fbefef;
        .session-tag {
          &--type,
          &--target-01 {
            span {
              background-color: #e13e3b;
            }
          }
        }
      }
      &.cell--06 {
        background-color: #f7f1f7;
        .session-tag {
          &--type,
          &--target-01 {
            span {
              background-color: #88549f;
            }
          }
        }
      }
    }
  }
  dl {
    dt {
      border-left-width: 0;
      background: transparent;
      padding: 0;
      margin: 3px 12px 1em;
      a {
        color: $colorBlue;
      }
    }
    dd {
      margin-bottom: .25em;
      padding-left: 12px;
    }
  }
  .session-tag {
    font-size: .8em;
    &--type {
      span {
        display: inline-block;
        padding: .1em 1em;
        color: #fff;
        border-radius: 20px;
      }
    }
    &--target-01 {
      @extend .session-tag--type;
    }
  }
  .speaker-name {
    margin-bottom: 0.5em;
    font-size: 12px;
    &:before {
      @include genericon('\f304');
    }
  }
}

.target-tag {
  margin-right: .5em;
  &--all {
    @include sprite-ir($icon_time-table_all, 0.2, inline-block);
  }
  &--designer {
    @include sprite-ir($icon_time-table_designer, 0.2, inline-block);
  }
  &--contents {
    @include sprite-ir($icon_time-table_contents, 0.2, inline-block);
  }
  &--developper {
    @include sprite-ir($icon_time-table_developper, 0.2, inline-block);
  }
}

@media screen and (max-width: 810px) {
  .describe-icons {
    font-size: 1.4rem;
    float: none;
  }
  .timetable {
    border-color: $colorBorder;
    border-top-width: 4px;
    border-bottom-width: 4px;
    thead {
      display: none;
    }
    %thtd {
      display: block;
      width: auto !important;
      border: medium none;
    }
    tr {
      &.opening {
        border-bottom-width: 1px;
      }
      th {
        @extend %thtd;
        font-size: 1.2em;
        padding: 10px 15px;
        text-align: left;
        border-bottom: 0 none;
      }
      td {
        @extend %thtd;
        padding: 10px 15px;
        &.rest {
          border-left: 0 none;
        }
        &.cell--merged {
          text-align: left;
        }
        &.cell--01 {
          > dl {
            &:before {
              content: 'わぷーステージ';
            }
          }
        }
        &.cell--02 {
          > dl {
            &:before {
              content: 'これからステージ';
            }
          }
        }
        &.cell--03 {
          > dl {
            &:before {
              content: 'ブルータタミ';
            }
          }
        }
        &.cell--04 {
          > dl {
            &:before {
              content: 'イエロータタミ';
            }
          }
        }
        &.cell--05 {
          > dl {
            &:before {
              content: '会議室A';
            }
          }
        }
        &.cell--06 {
          > dl {
            &:before {
              content: '会議室B';
            }
          }
        }
      }
    }
    .none {
      display: none;
    }
    dl {
      position: relative;
      margin-bottom: 1.25em;
      border-style: solid;
      border-color: $colorBlue;
      border-left-width: 2px;
      &:before {
        font-size: 1.3em;
        display: block;
        margin: 0 0 .25em;
        padding: .4em 0 0 1.5em;
        color: $colorText;
      }
      &:after {
        @include genericon('\f417', 1.4em, $position: absolute);
        top: .5em;
        left: .25em;
      }
      dt {
        margin: .5em 1.65em 0;
      }
      dd {
        margin-bottom: 0;
        padding: .5em 1.65em;
      }
    }
  }
}