/* =========================================================
	 Media - Mobile sizes
========================================================= */
@media screen and (max-width: 640px){
	html{
		font-size: 8px;
	}
	.site-content{
		margin-right: 0;
	}
	@include setHeaderBkg(640px, '2014/08/bkgHeaderS.jpg', '2014/08/txtHeaderS.png', 640px, 640px, $bodyClass: '.home');
	@include setHeaderBkg(320px, '2014/08/bkgHeaderShortS.jpg', '2014/08/txtHeaderShortS.png', 640px 320px, 100% auto, center top, left top);
}
@media screen and (max-width: 400px){
	@include setHeaderBkg($height: 400px, $bkgSize: 400px auto, $bodyClass: '.home');
	@include setHeaderBkg($height: 200px, $bkgSize: 400px 200px, $txtSize: 400px 200px);
	.list-view{
		.content-area{
			padding: 30px 0;
		}
		.site-content{
			.hentry{
				&:last-child{
					border-bottom: none;
				}
			}
		}
	}
	.site-content{
		.entry-title{
			.page-template-default &{
				border-bottom: 3px solid $colorOrange;
			}
		}
		.entry-header{
			.single &{
				border-bottom: 3px solid $colorOrange;
				margin-bottom: 20px;
			}
		}
		.hentry{
			.blog &,
			.arhive &{
				border-bottom: 1px solid $colorOrange
			}
		}
	}
	.content-sidebar{
		margin-top: 0;
		.single &{
			border-top: 0;
		}
	}
}
/* for Android @2x
---------------------------------------- */
@media screen and (max-width: 360px){
	@include setHeaderBkg($height: 360px, $bkgSize: 360px, $txtSize: 360px, $bodyClass: '.home');
	@include setHeaderBkg($height: 180px, $bkgSize: 360px, $txtSize: 360px);
}
/* for iPhone @2x
---------------------------------------- */
@media screen and (max-width: 320px){
	@include setHeaderBkg($height: 320px, $bkgSize: 320px, $txtSize: 320px, $bodyClass: '.home');
	@include setHeaderBkg($height: 160px, $bkgSize: 320px 160px, $txtSize: 320px 160px);
}


/* any other devices following twentyfourteen
---------------------------------------- */
@media screen and (min-width: 401px){
	@include setHeaderBkg(
		$height: 640px - 48,
		$bkgSize: 640px auto,
		$txtSize: 100%,
		$bkgPos: center top,
		$txtPos: center,
		$bodyClass: '.home'
	);
	.header-main{
		&:after{
			margin-top: 20px;
		}
	}
	%postTitle{
		@include definePostTitle;
	}
	%postFooterDecolate{
		@include definePostFooterDecolate;
	}
}
@media only screen and (min-width: 594px){
	%fullWidthInner{
		padding-right: 30px;
		padding-left: 30px;
	}
	%baseWidth{
		padding-left: 30px;
		padding-right: 30px;
	}
	%snsBtn{
		$btnWidth: 33%;
		float: left;
		margin: 0 (100% - ($btnWidth * 3)) / 4;
		width: $btnWidth;
	}
	.btnLinkSet{
		max-width: 400px;
	}
	.doubleBtn{
		.full-width &{
			max-width: 95%;
			margin-right: auto;
		}
		.btnLinkSet{
			width: 48%;
			&:first-child{
				margin-right: 4%;
			}
		}
	}
	.nav-links{
		a{
			width: 50%;
		}
	}
}
/* =========================================================
	 Media - Tablet Size
========================================================= */
@media only screen and (min-width: 641px){
	@include setHeaderBkg(
		$height: 640px,
		$imgBkg: '2014/08/bkgHeaderM.jpg',
		$imgTxt: '2014/08/txtHeaderM.png',
		$bkgSize: auto 640px,
		$txtSize: 860px auto,
		$bkgPos: center top,
		$bodyClass: '.home'
	);
	@include setHeaderBkg(
		$height: 400px,
		$imgTxt: '2014/08/txtHeaderShortM.png',
		$txtSize: 1000px auto,
		$txtPos: left center
	);
	body{
		background-image: url($filePath + '2014/08/bkgHeaderShortM.jpg'), url($filePath + '2014/08/bkgHeaderShortRepeatM.jpg');
		background-position: right top, left top;
		background-size: 1280px auto, 1px 400px;
		background-repeat: no-repeat, repeat-x;
	}
	.home{
		#masthead{
			&:after{
				@include imageReplace('2014/06/iconWapu.png', 300px, 300px, 0.6);
				top: 32%;
				right: 4%;
				margin-top: -(150px * 0.6);
			}
		}
	}
	.content-sidebar{
		padding: 0;
	}
	.entry-content h1{
		padding-left: 50px;
		background-size: 42px 52px;
		&:before{
			left: 17px;
			width: 12px;
		}
	}
}
@media screen and (min-width: 673px){
	.site-content{
		.entry-header,
		.entry-content,
		.entry-summary,
		.entry-meta,
		.page-content,
		.comments-area{
			max-width: 780px;
			max-width: 100%;
		}
	}
}
/* =========================================================
	 Media - Navigation Expanded
========================================================= */
@media screen and (min-width: 783px){
	@include setHeaderBkg($height: 704px, $bkgSize: 1280px auto, $txtSize: 1000px auto, $txtPos: center top, $bodyClass: '.home');
	@include setHeaderBkg($txtSize: 1280px 400px);
	.home{
		#masthead{
			&:after{
				right: 10%;
			}
		}
	}
	.site-navigation{
		li{
			width: $menuItemWidth;
			height: $menuHeight;
			line-height: $menuHeight;
			> a{
				text-align: center;
				height: $menuHeight;
				line-height: $menuHeight;
			}
		}
	}
	.primary-navigation{
		a{
			padding: 0 20px;
			width: 100%;
		}
		ul{
			ul{
				top: $menuHeight;
				margin-left: 0;
				background-color: $colorPink;
				box-shadow: 0 1.2px 1px rgba(0, 0, 0, 0.125);
				a{
					text-align: center;
					padding-top: 0;
					padding-bottom: 0;
					&:hover{
						background-color: transparent;
					}
				}
				li{
					border-top: 0;
					width: 100%;
				}
			}
		}
		.menu-item-has-children > a,
		.page_item_has_children > a{
			padding: 0 20px;
			&:after{
				top: 28px;
				right: 0;
				left: 0;
				margin: 0 auto;
				padding-top: 3px;
				width: 10px;
				content: '\f431';
				vertical-align: middle;
				font-size: 10px;
				line-height: 1;
			}
		}
	}
	.primary-sidebar{
		.widget{
			max-width: 100%;
		}
	}
}
@media screen and (min-width: 810px){}

/* =========================================================
	 Media - PC Size
========================================================= */
@media screen and (min-width: 846px){
	.header-main{
		background-size: 1280px auto;
	}
	.content-sidebar{
		margin-top: 72px;
		margin-left: -300px;
	}
	.site-content{
		margin: 0 360px 0 auto;
	}
	.content-sidebar{
		width: 280px;
	}
	// postTitle
	%postTitle{
		.entry-header{
			padding-right: 60px;
			&:before{
				right: 0;
			}
		}
	}
	%baseWidth{
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media screen and (min-width: 1008px){
	@include setHeaderBkg($txtSize: 1280px auto, $txtPos: center center, $bodyClass: '.home');
}
@media screen and (min-width: 1040px){}
@media screen and (min-width: 1080px){}
@media screen and (min-width: 1110px){
	%baseWidth{
		padding-left: 0;
		padding-right: 0;
	}
	// postTitle
	%postTitle{
		.entry-header{
			padding-right: 100px;
			&:before{
				@include imageReplace('2014/08/ttl_postWapu.png', 136px, 130px, 1.0);
				bottom: 3px;
			}
		}
	}
}
@media screen and (min-width: 1218px){
	// Need to override TwentyFourteen
	.archive-header,
	.comments-area,
	.image-navigation,
	.page-header,
	.page-content,
	.post-navigation,
	.site-content .entry-header,
	.site-content .entry-content,
	.site-content .entry-summary,
	.site-content footer.entry-meta{
		margin-right: 0;
	}
}
@media screen and (min-width: 1260px){}
@media screen and (min-width: 1281px){
	@include setHeaderBkg($bkgSize: 100%, $txtSize: 100%, $bodyClass: '.home');
}
@media only screen and (min-width: 1440px){
	@include setHeaderBkg(1080px, '2014/06/bkgHeaderL.jpg', '2014/08/txtHeaderL.png', 1920px auto, 100%, $bodyClass: '.home');
	.home{
		#masthead{
			&:after{
				@include imageReplace('2014/06/iconWapu.png', 300px, 300px, 1.0);
				margin-top: -(150px * 1.0);
			}
		}
	}
}
/* =========================================================
	 Media - Retina dispaly devices
========================================================= */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 960px) and (max-width: 1280px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 960px) and (max-width: 1280px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 960px) and (max-width: 1280px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 960px) and (max-width: 1280px),
only screen and (                min-resolution: 192dpi) and (min-width: 960px) and (max-width: 1280px),
only screen and (                min-resolution: 2dppx)  and (min-width: 960px) and (max-width: 1280px){
	@include setHeaderBkg(704px, '2014/06/bkgHeaderL.jpg', '2014/08/txtHeaderL.png', 1280px auto, 1280px auto, $bodyClass: '.home');
	@include setHeaderBkg(400px, '2014/08/bkgHeaderShortM@2x.jpg', '2014/08/txtHeaderShortM@2x.png', 1280px auto, 1280px auto);
	// postTitle
	%postTitle{
		.entry-header{
			&:before{
				@include imageReplace('2014/08/ttl_postWapu@2x.png', 130px, 130px, 1.0);
			}
			&:after{
				@include imageReplace('2014/08/ttl_postBtmLine@2x.png', 100%, 15px, 1.0);
				background-size: auto 15px;
				background-repeat: repeat-x;
			}
		}
	}
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1281px) and (max-width: 1920px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1281px) and (max-width: 1920px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1281px) and (max-width: 1920px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1281px) and (max-width: 1920px),
only screen and (                min-resolution: 192dpi) and (min-width: 1281px) and (max-width: 1920px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1281px) and (max-width: 1920px){
	body{
		background-image: url($filePath + '2014/08/bkgHeaderShortM@2x.jpg'), url($filePath + '2014/08/bkgHeaderShortRepeatM@2x.jpg');
		background-position: right top, left top;
		background-size: 1280px auto, 1px 400px;
		background-repeat: no-repeat, repeat-x;
	}
}