/* =========================================================
	 サイト全体共通スタイル
========================================================= */
.site{
	max-width: 100%;
	background-color: transparent;
	&:before{
		display: none;
	}
}

/* main content
---------------------------------------- */
#main{
    @extend %baseWidth;
}
#main-content{
    float: none;
}
#primary{
    box-sizing: border-box;
    width: 100%;
}
.site-content{
	margin: 0 0 0 auto;
	.entry-header,
	.entry-content,
	.entry-summary,
	.page-content,
	.entry-meta,
	.post-navigation,
	footer.entry-meta{
		@extend %contentWidth;
		background-color: transparent;
		max-width: 100%;
	}
}

.hentry{
	&:last-child{
		border-bottom: none;
	}
}

#secondary{
	clear: both;
}

/* jetpack
---------------------------------------- */
div.sharedaddy h3.sd-title{
	display: block;
}

/* SNS icon area
---------------------------------------- */
.primary-sidebar{
	ul{
		@extend %group;
	}
	.snsBtn{
		@extend %snsBtn;
	}
}

%snsBtn{
	margin: 1em auto;
	width: 100%;
	text-align: center;
	&:after{
		position: absolute;
		z-index: -1;
		content: '';
		transition: all 0.3s;
	}
	a{
		position: relative;
		display: block;
		padding: 20px 0;
		color: #fff;
		font-size: 1.6rem;
		&:hover{
			text-decoration: none;
		}
		i{
			margin-right: 0.75em;
		}
	}
	&.snsBtn--Tw{
		$colorDarken: #3f81b2;
		margin-left: 0;
		a{
			@include btnAction($colorDarken);
			background-color: $colorTw;
		}
	}
	&.snsBtn--Fb{
		$colorDarken: #2c4272;
		a{
			@include btnAction($colorDarken);
			background-color: $colorFb;
		}
	}
	&.snsBtn--Gp{
		$colorDarken: #a5382a;
		margin-right: 0;
		a{
			@include btnAction($colorDarken);
			background-color: $colorGp;
		}
	}
}