// ========================================
// 固定ページ
// ========================================
.page{}

/* page tmeplate full width
---------------------------------------- */
.page-template-page-templatesfull-width-php,
.full-width{
	#main{
		@extend %fullWidth;
		background-color: #f7f7f7;
	}

	#main-content{
		@extend %baseWidth;
		float: none;
		.page &{
			max-width: 100%;
		}
	}

	#primary{
		width: 100%;
	}

	.site-content{
		margin: 0 auto;
		.entry-header{
			background-color: transparent;
			.entry-title,
			.entry-title a{
				color: $colorText;
			}
			.entry-meta{
				background-color: transparent;
			}
		}
		.entry-content{
			color: $colorText;
			background-color: transparent;
		}
		.comments-area{
			display: none;
		}
	}
}