@charset "utf-8";
/* Sponsor logo widget in footer-sidebar
---------------------------------------- */
// .footer-sidebar -> .widget -> &
.sponsorTitle {
  position: relative;
  font-weight: normal;
  box-sizing: border-box;
  max-width: 940px;
  margin: 0 auto 1.8em !important;
  text-align: center;
  // border-bottom: 1px solid #444;
  &__inner {
    background-color: #fff;
    position: relative;
    z-index: 20;
    display: inline-block;
    padding: 0 1em;
  }
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    top: 50%;
    position: absolute;
  }
  .footer-sidebar .widget & {
    font-size: 2rem;
  }
  &--platinum {
    &:before {
      background-color: #E5E4E2;
    }
  }
  &--gold{
    &:before {
      background-color: #c3a400;
    }
  }
  &--silver{
    &:before {
      background-color: #c0c0c0;
    }
  }
}

.sponsorList {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto !important;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  > li {
    margin-bottom: 1.5em;
    img {
      width: 100%;
      transition: all .3s;
      &:hover {
        box-shadow: 0 0 3px rgba(0,0,0, 0.25);
      }
    }
  }
  &--platinum {
    > li {
      img {
        max-width: 450px;
      }
    }
  }
  &--gold {
    > li {
      img {
        max-width: 300px;
      }
    }
  }
  &--silver {
    > li {
      img {
        max-width: 200px;
      }
    }
  }
}


// Tablet size
@mixin footer-sidebar-over-641 {
  .sponsorTitle {
    &--platinum {
    }
  }
}


// PC size
@mixin footer-sidebar-over-846 {
  // .footer-sidebar -> .widget -> &
  .sponsorTitle {}
  .sponsorList {
    display: table;
    width: 100%;
    max-width: 940px;
    margin: 0 auto !important;
    text-align: center;
    > li {
      display: table-cell;
      width: 50%;
      > a {
        display: block;
        box-sizing: border-box;
      }
      &:nth-child(odd) a {
        padding-right: 20px;
      }
      &:nth-child(even) a {
        padding-left: 20px;
      }
      img {
      }
    }
  }
  .sponsorList--platinum {
    > li {
    }
  }
  .sponsorList--silver {
    display: block;
    > li {
      display: inline-block;
      width: 33.333%;
      > a {
        display: inline-block;
        box-sizing: border-box;
        padding-right: 50px !important;
        padding-left: 50px !important;
      }
    }
  }
}