@charset 'utf-8';
/* Sponsor logo widget in footer-sidebar
---------------------------------------- */
// .footer-sidebar -> .widget -> &
.sponsorTitle {
  font-weight: normal;
  position: relative;
  box-sizing: border-box;
  max-width: 940px;
  margin: 0 auto 1.8em !important;
  text-align: center;
  &__inner {
    position: relative;
    z-index: 20;
    display: inline-block;
    padding: 0 1em;
    background-color: #fff;
  }
  &:before {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
  }
  .footer-sidebar .widget & {
    font-size: 2rem;
  }
  &--platinum {
    &:before {
      background-color: #e5e4e2;
    }
  }
  &--gold {
    &:before {
      background-color: #c3a400;
    }
  }
  &--silver {
    &:before {
      background-color: #c0c0c0;
    }
  }
  &--bronze {
    &:before{
      background-color: #b9722d;
    }
  }
  &--wordpress {
    &:before {
      background-color: lighten($colorBlue, 3%);
    }
  }
}


.sponsorList {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto !important;
  text-align: center;
  > li {
    margin-bottom: 1.5em;
    > a {
      display: block;
      transition: all .3s;
      &:hover {
        opacity: .7;
      }
    }
    img {
      width: 100%;
    }
  }
  &--platinum,
  &--champion {
    > li {
      img {
        max-width: 450px;
      }
    }
  }
  &--gold,
  &--accomplice {
    padding: 0 20px;
    > li {
      > a {
        margin: 0 auto;
        max-width: 300px;
      }
      img {
        max-width: 300px;
      }
    }
  }
  &--silver {
    > li {
      > a {
        margin: 0 auto;
        max-width: 200px;
      }
      img {
        max-width: 200px;
      }
    }
  }
  &--bronze {
    padding: 0 20px;
    > li {
      position: relative;
      // circle
      &:before {
        position: absolute;
        top: 20px;
        left: 8px;
        content: '\25CF';
        color: lighten($colorText, 45%);
        font-size: 0.65em;
        z-index: 10;
      }
      &:after {
        position: absolute;
        top: 20px;
        right: 8px;
        content: '\25CF';
        color: lighten($colorText, 45%);
        font-size: 0.65em;
        z-index: 10;
      }
      > a {
        position: relative;
        z-index: 2;
        padding: 20px;
        padding-right: 20px;
        padding-left: 20px;
        border: 2px solid lighten($colorPink, 5%);
        color: $colorText;
        text-shadow: 1px 1px 1px rgba(0,0,0,.1);
        overflow: hidden;
        
        // background
        &:before,
        &:after {
          position: absolute;
          left: 0;
          z-index: -1;
          display: block;
          content: '';
          -webkit-transition: all .3s;
          transition: all .3s;
        }

        &:after {
          top: -100%;
          width: 100%;
          height: 100%;
        } 
        
        &:hover {
          text-decoration: none;
          color: #ffffff;
          
          &:after {
            top: 0;
            left: 0;
            background-color: lighten($colorPink, 5%);
          }
        }
      } 
    }
  }
}

@mixin footer-sidebar-under-593 {
  .sponsorList {
    &--bronze {
      > li {
        display: block;
        max-width: 270px;
        margin: 0 auto 20px auto;
        
        > a {
          font-size: 0.5em;
        }
      }
    }
  }
}

@mixin footer-sidebar-over-594 {
  .sponsorList {
    &--silver {
      > li {
        display: inline-block;
        width: 50%;
      }
    }
    &--bronze {
      > li {
          display: inline-block;
          width: 45%;
          margin: 0 10px 20px 10px;
        > a {
          font-size: 0.45em;
        }
      }
    }
  }
}


// Tablet size
@mixin footer-sidebar-over-641 {
  .sponsorTitle {
    &--platinum {}
  }
}

// PC size
@mixin footer-sidebar-over-846 {
  // .footer-sidebar -> .widget -> &
  .sponsorList {
    display: table;
    width: 100%;
    max-width: 940px;
    margin: 0 auto !important;
    text-align: center;
    > li {
      display: inline-block;
      width: 50%;
      > a {
        display: block;
        box-sizing: border-box;
      }
    }
    &--gold {
      max-width: 810px;
      > li {
        width: 50%;
      }
    }
    &--bronze {
      > li {
        width: 30.333%;
        > a {
          font-size: 0.45em;
        }
      }
    }
  }
  .sponsorList--silver {
    > li {
      width: 33.333%;
    }
  }
}
