@charset "utf-8";
/* header
---------------------------------------- */
.header-main{
	padding: 560px 0 0 0;
	min-height: 0;
	width: 100%;
	height: 0;
	background-repeat: no-repeat;
}

#site-header{
	position: relative;
	max-width: 100%;
	img{
		width: 100%;
	}
}

/* masthead
---------------------------------------- */
#masthead{
	@include hasPseudoClass(after);
	margin-bottom: $menuHeight;
	max-width: 100%;
	background-color: transparent;

	// Flying Wapuuuuuu
	.home &:after{
		@extend %hovering;
		@include imageReplace('2014/06/iconWapu.png', 300px, 300px, .3);
		right: 8%;
		z-index: 50;
		margin-top: -(0 * .3);
		top: 28%;
	}
	// for header link
	.site-title{
		position: absolute;
		top: 0;
		left: 0;
		float: none;
		width: 100%;
		height: 100%;
		a{
			display: block;
			width: 100%;
			height: 100%;
			color: transparent;
			font: 0/0 a;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.search-toggle{
		display: none;
	}
}
.masthead-fixed{
	.site-main{
		margin-top: 0;
	}
}

.menu-toggle{
	@extend %fullWidthInner;
	@include hasPseudoClass(after);
	background-color: transparent;
	width: auto;
	//height: $menuHeight;
	height: 0;
	padding-top: $menuHeight;
	&:active,
	&:focus,
	&:hover,
	&:visited,
	&::selection{
		background-color: transparent;
	}
	&:before{
		@include genericon('\f104', 16px, middle, $position: absolute);
		top: 0;
		left: 9px;
		padding: 16px;
		transition: all 0.2s;
	}
	.toggled-on &:before{
		transform: rotate(90deg);
	}
	&:after{
		display: block;
		position: absolute;
		top: 16px;
		left: 40px;
		margin-left: 0.5em;
		color: #fff;
		content: 'Menu';
		vertical-align: middle;
		font-size: 14px;
		line-height: 16px;
	}
}

/* navigation
---------------------------------------- */
.primary-navigation{
	position: absolute;
	top: 560px;
	left: 0;
	z-index: 100;
	float: none;
	margin: 0 auto;
	padding: 0;
	min-height: $menuHeight;
	width: 100%;
	background-color: $colorNav;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .125);
	.nav-menu{
		@extend %baseWidth;
		width: auto;
		text-align: center;
	}
	a{
		box-sizing: border-box;
		padding: 20px 2.2em;
		text-align: left;
		letter-spacing: .125em;
		font-weight: normal;
		font-size: 14px;
	}
	&.toggled-on{
		padding: 0;

	}
	li{
		&:hover,
		&.focus{
			> a{
				background-color: transparent;
			}
		}
	}
}
.site-navigation{
	ul{
		ul{
			margin-left: 2em;
			li{
				border-top: 1px dashed rgba(255, 255, 255, 0.2);
			}
		}
	}
	li{
		&:hover,
		&.focus{
			a{
				background-color: transparent;
			}
		}
		> a{
			position: relative;
			color: #fff;
			text-align: left;
			transition: all 0.2s;
			&:hover{
				background-color: transparent;
				color: $colorNavHover;
				text-decoration: none;
			}

		}
	}
	.current-menu-item,
	.current-menu-parent{
		> a{
			color: #fff;
			font-weight: normal;
			&:before{
				position: absolute;
				top: 50%;
				display: inline-block;
				margin: -5px auto auto -15px;
				color: $colorNavActive;
				content: '\25CF';
				font-size: 10px;
				line-height: 1;
			}
		}
	}
	.current-page-ancestor,
	.current-menu-ancestor,
	.current-menu-parent{
		> a{
			&:before{
				margin-top: -3px;
				margin-left: -13px;
				font-size: 6px;
			}
		}
	}
}
.screen-reader-text{
	display: none;
}

/* Set header bkg
---------------------------------------- */
@mixin setHeaderBkg($height: auto, $imgBkg: false, $imgTxt: false, $bkgSize: false, $txtSize: false, $bkgPos: false, $txtPos: false, $bodyClass: false){
	@if $bodyClass == false {
		body{
			@if $imgBkg != false {
				background-image: url($filePath + $imgBkg);
			}
			@if $bkgSize != false {
				background-size: $bkgSize;
			}
			@if $bkgPos != false {
				background-position: $bkgPos;
			}
		}
		.header-main{
			padding-top: $height;
			@if $imgTxt != false {
				background-image: url($filePath + $imgTxt);
			}
			@if $txtSize != false {
				background-size: $txtSize;
			}
			@if $txtPos != false {
				background-position: $txtPos;
			}
		}
		.primary-navigation{
			top: $height;
		}
	} @else {
		body#{$bodyClass}{
			@if $imgBkg != false {
				background-image: url($filePath + $imgBkg);
			}
			@if $bkgSize != false {
				background-size: $bkgSize;
			}
			@if $bkgPos != false {
				background-position: $bkgPos;
			}
		}
		#{$bodyClass} .header-main{
			background-size: $height;
			padding-top: $height;
			@if $imgTxt != false {
				background-image: url($filePath + $imgTxt);
			}
			@if $txtSize != false {
				background-size: $txtSize;
			}
			@if $txtPos != false {
				background-position: $txtPos;
			}
		}
		#{$bodyClass} .primary-navigation{
			top: $height;
		}
	}
}