@charset 'utf-8';
/* layout speakers
---------------------------------------- */
.inblock-list {
  &.inblock-list--sns {
    @extend %group;
    list-style: none;
    margin: 0 0 .4em;
    > li {
      float: left;
      margin-right: 0.5em;
      vertical-align: middle;
      text-align: center;
      > a {
        display: block;
        font-size: 1.2em;
        border-radius: 2px;
      }
      i {
        color: #fff;
        display: block;
        width: 1.8em;
        height: 1.8em;
        line-height: 1.8em;
      }
    }
  }
  &__twitter {
    > a {
      background-color: $colorTw;
      &:hover {
        background-color: lighten($colorTw, 3%);
      }
    }
  }
  &__facebook {
    > a {
      background-color: $colorFb;
      &:hover {
        background-color: lighten($colorFb, 3%);
      }
    }
  }
}

.wcorg-speaker {
  margin-bottom: 8em;
  position: relative;
  h2 {
    padding: 0 0 0 120px;
    margin: 0 0 .4em;
    font-weight: normal;
    font-size: 1.6em;
    line-height: 1.2;
    &:after {
      background-image: none;
      display: none;
    }
  }
  .spekaer-info {
    padding: 0 0 0 120px;
    margin: 0 0 .4em;
    .site {
      line-height: 1.25;
      margin-bottom: .4em;
    }
  }
  .wcorg-speaker-description {
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__meta {
    .session-title {
      margin-bottom: .5em;
      font-size: 1.2em;
    }
    .inblock-list {
      list-style: none;
      margin-left: 0;
      .stage {
        &:before {
          margin-right: .25em;

          @include genericon('\f417', 1em);
        }
      }
      .time {
        &:before {
          margin-right: .25em;

          @include genericon('\f303', 1em);
        }
      }
    }
  }
}

/* =========================================================
   Media - Mobile sizes
========================================================= */
@mixin layout-speakers-under-320 {}
@mixin layout-speakers-under-360 {}
@mixin layout-speakers-under-400 {}
@mixin layout-speakers-under-640 {}
@mixin layout-speakers-over-401 {}
@mixin layout-speakers-over-594 {}
/* =========================================================
   Media - Tablet Size
========================================================= */
@mixin layout-speakers-over-641 {}
@mixin layout-speakers-over-673 {}
/* =========================================================
   Media - Navigation Expanded
========================================================= */
@mixin layout-speakers-over-783 {}
@mixin layout-speakers-over-810 {}
/* =========================================================
   Media - PC Size
========================================================= */
@mixin layout-speakers-over-846 {
  .wcorg-speakers {
    h2 {
      font-size: 1.8em;
      height: 1.4em;
      line-height: 1.4;
      &:after {
        background-image: none;
        display: none;
      }
    }
    .site {
      margin: 0 0 4em;
    }
  }
}
@mixin layout-speakers-over-1008 {}
@mixin layout-speakers-over-1040 {}
@mixin layout-speakers-over-1080 {}
@mixin layout-speakers-over-1110 {}
@mixin layout-speakers-over-1218 {}
@mixin layout-speakers-over-1260 {}
@mixin layout-speakers-over-1281 {}
@mixin layout-speakers-over-1440 {}
@mixin layout-speakers-over-1600 {}
