@charset 'utf-8';
.home {
  .featured-content {
    display: none;
  }
  .banner-area {
    @extend %group;
    position: relative;
    margin: 0 -5px;
    list-style: none;
    text-align: center;
    li {
      float: left;
      width: 50%;
      max-width: 280px;
      margin: 0 auto;
      box-sizing: border-box;
      padding: 0 5px;
      margin-bottom: 20px;
      a {
        &:hover {
          opacity: .9;
        }
      }
    }
  }
  .entry-content {
    p {
      max-width: 95%;
      margin-top: 1.4em;
    }
  }
}


/* media queries
---------------------------------------- */
@mixin layout-front-over-641 {
  .home {
    #masthead {
      &:after {
        @include imageReplace('2014/06/iconWapu.png', 300px, 300px, .6);
        top: 32%;
        right: 4%;
        margin-top: -(150px * .6);
      }
    }
    .banner-area {
      margin: 0 auto;
      li {
        width: 25%;
        padding: 0 1.5%;
        a {}
      }
    }
  }
}

@mixin layout-front-over-846 {
  .home {
  }
}

@mixin layout-front-over-1440 {
  .home {
    #masthead {
      &:after {
        @include imageReplace('2014/06/iconWapu.png', 300px, 300px, 1.0);
        margin-top: -(150px * 1.0);
      }
    }
  }
}
