@charset "utf-8";
.tix-js {
  p {
    &:last-child {
      position: relative;
      height: 40px;
      text-align: center;
    }
  }
  button,
  .button,
  input[type='button'],
  input[type='reset'],
  input[type='submit'] {
    position: relative;
    bottom: 0;
    float: none !important;
    width: 100%;
    max-width: 641px;
    border-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: darken($colorBlue, 9%);
    background-color: $colorBlue;
    &:hover,
    &:focus {
      margin-top: 2px;
      border-bottom-width: 2px;
      background-color: $colorBlue;
    }
    &:active {
      margin-top: 4px;
      border-bottom-width: 0;
      background-color: $colorBlue;
    }
    &::selection {
      background: transparent;
      background-color: $colorBlue;
    }
  }
}


/* Btn SNS which is in primary sidebar
---------------------------------------- */
%snsButton {
  position: relative;
  width: 100%;
  margin: 1em auto;
  text-align: center;
  &:after {
    position: absolute;
    z-index: -1;
    content: '';
    transition: all .3s;
  }
  a {
    font-size: 16px;
    position: relative;
    display: block;
    color: #fff;
    .snsButton__wrap {
      display: block;
      padding: 20px 0;
      border-radius: 2px;
    }
    &:hover {
      text-decoration: none;
    }
    i {
      margin-right: .75em;
    }
  }
  &.snsButton--Tw {
    margin-left: 0;
    a {
      @include buttonAction(darken($colorTw, 20%));
      .snsButton__wrap {
        background-color: $colorTw;
      }
    }
  }
  &.snsButton--Fb {
    a {
      @include buttonAction(darken($colorFb, 20%));
      .snsButton__wrap {
        background-color: $colorFb;
      }
    }
  }
  &.snsButton--Gp {
    margin-right: 0;
    a {
      @include buttonAction(darken($colorGp, 20%));
      .snsButton__wrap {
        background-color: $colorGp;
      }
    }
  }
}


/* Btn register to volunteer staff
---------------------------------------- */
.btnLinkSet {
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  max-width: 280px;
  margin: 1em auto;
  color: $colorBlue;
  border: 2px solid $colorBlue;
  background-color: transparent;
  &:hover {
    color: darken($colorBlue, 8%);
    border: 2px solid darken($colorBlue, 8%);
    background-color: transparent;
    box-shadow: 0 0 2px rgba(darken($colorBlue, 8%), .5);
  }
  i {
    font-size: 1.25em;
    line-height: 1.4;
    display: inline-block;
    margin-right: .5em;
    padding-top: 1px;
    vertical-align: middle;
  }
  .icon-group {
    margin-right: .5em;
  }
  .icon-double-angle-right {
    margin-right: 0;
    margin-left: .25em;
  }
}
.doubleBtn {
  @extend %group;
  text-align: center;
}



// Tablet size
@mixin module-button-over-641 {
  .tix-js {
    button,
    .button,
    input[type='button'],
    input[type='reset'],
    input[type='submit'] {
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 260px;
      transition: border-width .1s, margin .1s;
    }
  }
}
