section.session
  h2 アンカンファレンス詳細
  .ja
    p 参加者同士で交流してWordPress仲間を作りましょう！
    p ここでは参加者同士でグループになっていただき自由に会話をしてもらいます。<br>はじめに自己紹介タイムを設けますが、その後は参加者同士でWordPressに関連することなどを自由にお話いただいて WordPress仲間を作ろうというアンカンファレンスです。<br>WordCampには様々な業種の方が参加してますので、このアンカンファレンスでいろいろな方との交流をぜひ楽しんでいただければと思っています。<br>仲良くなった方たちと一緒に他のセッションやお昼、懇親会に行かれるのもいいと思います。
    p 各グループにはスタッフも参加して会話を盛り上げますので、話が苦手な方でもお気軽にご参加してください！

  dl.session__meta
    dt.session__meta__stage-key 場所
    dd.session__meta__stage-value 会議室A
    dt.session__meta__time-key 時間
    dd.session__meta__time-value 10:00〜10:45
    dt.session__meta__speaker-key モデレーター
    dd.session__meta__speaker-value
      .moderator-info.table
        .table-row.table-row--speaker
          .table-cell.moderator-photo
            img.avatar.avatar-100.photo(width="100" height="100" alt="こばやしたけし" src="https://s.gravatar.com/avatar/d7a3b297cbf224094cbf8de9e5f36360?s=100")
          .table-cell
            span.speaker-name こばやしたけし
            ul.inblock-list.inblock-list--sns
              li.inblock-list__facebook: a(href="https://www.facebook.com/tama200x" target="_blank"): i.genericon.genericon-facebook-alt
      .moderator-profile
        .moderator-profile__key 自己紹介
        .moderator-profile__value.ja
          p これまではインフラの設計・構築・運用を、現在はシステム開発関連の業務に携わっており、WordPressとは1利用者として関わっています。

    dd.session__meta__speaker-value
      .moderator-info.table
        .table-row.table-row--speaker
          .table-cell.moderator-photo
            img.avatar.avatar-100.photo(width="100" height="100" alt="上原 正道" src="https://s.gravatar.com/avatar/98d9ca141b70fce982b7890dcb15151b?s=100")
          .table-cell
            span.speaker-name 上原 正道 (デザイナー・ディレクター)
            ul.inblock-list.inblock-list--sns
              li.inblock-list__twitter: a(href="https://twitter.com/uehara0217" target="_blank"): i.genericon.genericon-twitter
              li.inblock-list__facebook: a(href="https://www.facebook.com/uehara0217" target="_blank"): i.genericon.genericon-facebook-alt
            p.site: a(href="http://www.tensendesign.com/", target="_blank") http://www.tensendesign.com/
      .moderator-profile
        .moderator-profile__key 自己紹介
        .moderator-profile__value.ja
          p フリーランスデザイナー・ディレクター。<br>TenSenという屋号で活動しています。

    dd.session__meta__speaker-value
      .moderator-info.table
        .table-row.table-row--speaker
          .table-cell.moderator-photo
            img.avatar.avatar-100.photo(width="100" height="100" alt="伊藤 ようこ" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y&amp;s=100")
          .table-cell
            span.speaker-name 伊藤 ようこ (WEBデザイナー)
            ul.inblock-list.inblock-list--sns
              li.inblock-list__twitter: a(href="https://twitter.com/youko11102000" target="_blank"): i.genericon.genericon-twitter
              li.inblock-list__facebook: a(href="https://www.facebook.com/itoyouko" target="_blank"): i.genericon.genericon-facebook-alt
            p.site: a(href="http://photopoto.net/", target="_blank") http://photopoto.net/
            p.site: a(href="http://websigns104.com/", target="_blank") http://websigns104.com/
      .moderator-profile
        .moderator-profile__key 自己紹介
        .moderator-profile__value.ja
          p 横浜でフリーランスとして活動しております。<br>お酒大好きなバイク乗りです。<br>よろしくお願いします。

    dd.session__meta__speaker-value
      .moderator-info.table
        .table-row.table-row--speaker
          .table-cell.moderator-photo
            img.avatar.avatar-100.photo(width="100" height="100" alt="荒川 菜津美" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y&amp;s=100")
          .table-cell
            span.speaker-name 荒川 菜津美
            ul.inblock-list.inblock-list--sns
              li.inblock-list__twitter: a(href="" target="_blank"): i.genericon.genericon-twitter
              li.inblock-list__facebook: a(href="" target="_blank"): i.genericon.genericon-facebook-alt
            p.site: a(href="", target="_blank") http://forum or somthing like that.
      .moderator-profile
        .moderator-profile__key 自己紹介
        .moderator-profile__value.ja
          p

    dd.session__meta__speaker-value
      .moderator-info.table
        .table-row.table-row--speaker
          .table-cell.moderator-photo
            img.avatar.avatar-100.photo(width="100" height="100" alt="Keiko Kanamori" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y&amp;s=100")
          .table-cell
            span.speaker-name Keiko Kanamori
            ul.inblock-list.inblock-list--sns
              li.inblock-list__twitter: a(href="" target="_blank"): i.genericon.genericon-twitter
              li.inblock-list__facebook: a(href="" target="_blank"): i.genericon.genericon-facebook-alt
            p.site: a(href="", target="_blank") http://forum or somthing like that.
      .moderator-profile
        .moderator-profile__key 自己紹介
        .moderator-profile__value.ja
          p
