section.session
  h2 セッション詳細
  .ja
    p この開発者指向のプレゼンテーションは WordPress の環境での API とは何なのかと、なぜ私たちがそれらを気にするべきなのかを説明します。<br>提案されている WordPress コアの REST API や、 WordPress.com と Jetpack の REST API を含む WordPress のエコシステムのなかで利用可能な色々な API を探っていきます。
    p いくつかの開発者を取り巻く環境のエコシステムにも触れます。時間が許せばAPIやWordPressやAutomatticについての一般的な質問を受け付けます。

  .en
    p This developer-oriented presentation will focus on explaining what an API is in the context of WordPress and why you should care about them. We’ll explore the different APIs available within the WordPress ecosystem, including the WordPress.com &amp; Jetpack REST API as well as the proposed WordPress Core REST API. We'll also touch upon some of the surrounding developer ecosystem. Time allowing, the presentation will include a Q&amp;A where attendees can ask questions about APIs, general WordPress development and Automattic.

  dl.session__meta
    dt.session__meta__stage-key 場所
    dd.session__meta__stage-value これからステージ (セッション形式)
    dt.session__meta__time-key 時間
    dd.session__meta__time-value 13:00~13:45
    dt.session__meta__speaker-key スピーカー
    dd.session__meta__speaker-value.table.table--speaker
      .table-row.table-row--speaker
        .table-cell.table-cell-speaker
          img.avatar.avatar-100.photo(width="100" height="100" alt="" src="https://s.gravatar.com/avatar/cac392a24343be3c0c9c7daa5041f2c5?s=100")
        .table-cell
          span.speaker-name Joey Kudish
          a.speaker-profile-link(href="http://2014.tokyo.wordcamp.org/speakers/#wcorg-speaker-joey-kudish") Profile
    dt.session__meta__speaker-key 通訳
    dd.session__meta__speaker-value.table.table--speaker
      .table-row.table-row--speaker
        .table-cell.table-cell-speaker
          img.avatar.avatar-100.photo(width="100" height="100" alt="" src="https://s.gravatar.com/avatar/79294868a241e80ea4fda34c618b8a11?s=100")
        .table-cell
          span.speaker-name 森山真祐子