aside.entry-content__row.entry-content__row--gray
	.entry-content__row__inner.entry-content__row__inner--banner-area
		ul.banner-area
			li
				a(href="http://2014.tokyo.wordcamp.org/tickets/")
					img(src="http://2014.tokyo.wordcamp.org/files/2014/09/bnr_attend.png" alt="WordCamp Tokyo 2014 参加登録")
			//- li
				a(href="http://2014.tokyo.wordcamp.org/2014/09/relay-blog-announcement/" alt="WordCamp Tokyo リレーブログ")
section#aboutwc.entry-content__row
	.entry-content__row__inner
		.bkg_WhatIsWordCamp: h1 WordCamp とは?
		h2 世界中で開かれている WordPress のイベント
		p.p
			| WordPress は世界中のコミュニティによって支えられています。日本でも地域ごとにコミュニティがたくさんあり、ボランティアメンバーによって運営されています。各コミュニティでは WordPress をもっと使いやすくするために勉強会や情報交換が盛んに行われていて、その中でも WordCamp は
			| <a href="http://wordpressfoundation.org/" title="WordPress Foundation" target="_blank">WordPress Foundation</a>
			| [1] の公式な承認のもとに世界中で開かれている WordPress のイベントです。WordCamp のセッションは実に様々な内容のものがありますが、共通しているのは多くのセッションが WordPress に関する内容であるということです。

		.doubleBtn.
			<a class="button btnLinkSet" href="http://2014.tokyo.wordcamp.org/about/#theme"><i class="icon-info"></i>開催概要<i class="icon-double-angle-right"></i></a><a class="button btnLinkSet" href="http://2014.tokyo.wordcamp.org/2014/08/wordcamp-tokyo-announced/"><i class="icon-flag-alt"></i>委員長挨拶<i class="icon-double-angle-right"></i></a>