.spekaer-info
  p.site: a(href="", target="_blank") http://forum or somthing like that.

dl.wcorg-speaker__meta
  dt.wcorg-speaker__meta__session-key 登壇セッション
  dd.wcorg-speaker__meta__session-value
    p.session-title: a(href="http://2014.tokyo.wordcamp.org/session/keynote/") 基調講演
    ul.inblock-list
      li.stage これからステージ
      li.time 13:00~13:45
  dt.wcorg-speaker__meta__profile-key 自己紹介
  dd.wcorg-speaker__meta__profile-value
    .ja
      p Automattic社のエンジニアとしてWordPress.comのAPI等の開発に携わる他、WordPressのコアおよびプラグインを含むいくつかのオープンソースのコントリビューターでもある。コーヒーを愛飲、愛犬家、熱狂的な世界旅行者。
    .en 
      p Howdy!. My name is Joey and I am a Code Wrangler at Automattic. I work on partnerships, third party integrations, APIs and other projects for WordPress.com. I contribute to several open-source projects including WordPress.org plugins and WordPress core. I’m an avid coffee drinker, dog lover &amp; enthusiastic world traveller.