section#sessions.entry-content__row
  .entry-content__row__inner.entry-content__row__inner--sessions
    .bkg_WhatIsWordCamp: h1 コンテンツ紹介
    p.p 一部のセッションがまだ調整中となっておりますが、確定次第更新されていきます。また、難易度やおすすめの対象者など順次更新されていきますのでこまめにチェックしてみてください!

    h2 タイムテーブル

    table.timetable(border="0")
      thead
        tr
          th わぷーステージ
            br
            | (実践的内容)
          th これからステージ
            br
            | (メインステージ)
          th ブルーたたみ
          th イエローたたみ
          th 会議室A
          th 会議室B
      tbody

        tr
          th.time(colspan="6") 9:45
        tr.opening
          td.time.open(colspan="6") 開場

        tr
          th.time(colspan="6") 9:45～9:50
        tr
          td.none &nbsp;
          td
            dl
              dt.stage.stage--02 WordCamp の楽しみ方
              dd.speaker-name WordCamp2014 実行委員長
          td.none &nbsp;
          td.none &nbsp;
          td.none &nbsp;
          td.none &nbsp;

        tr.restRow
          th.time.rest(colspan="6") 9:50〜10:00
        tr.restRow
          td.rest(colspan="6") 10分休憩

        tr
          th.time(colspan="6") 10:00〜10:45
        tr
          td
            dl
              dt.stage.stage--01 WordPress で作るビジネス(HappyTables.com)
              dd.speaker-name Noel Tock
          td
            dl
              dt.stage.stage--02 これからの WordPress 勉強法と勉強会
              dd.speaker-name 北村 崇
          td
            dl
              dt.stage.stage--03 案内所&amp;交流スペース
          td
            dl
              dt.stage.stage--04 案内所&amp;交流スペース
          td
            dl
              dt.stage.stage--05 仲間を作ろう
              dd.speaker-name こばやしたけし
              dd.speaker-name 斎藤 健太
              dd.speaker-name 上原 正道
              dd.speaker-name 伊藤ようこ
              dd.speaker-name 荒川 菜津美
              dd.speaker-name Keiko Kanamori
          td
            dl
              dt.stage.stage--06 勉強の仕方を教えあう部屋
              dd.speaker-name 石原 隆志
              dd.speaker-name 水野 史土
              dd.speaker-name 佐々木 智佳子
              dd.speaker-name 小蕎 麻衣
              dd.speaker-name Satomikan Kaizuka
              dd.speaker-name 姫野 大輔

        tr.restRow
          th.time.rest(colspan="6") 10:45〜11:00
        tr.restRow
          td.rest(colspan="6") 15分休憩

        tr
          th.time(colspan="6") 11:00〜11:45
        tr
          td
            dl
              dt.stage.stage--01 WordPress を使って多言語サイトを作ってみよう
              dd.speaker-name Marko Heijnen
              dd.speaker-name 渡辺 幸一
          td
            dl
              dt.stage.stage--02 必ず押さえておきたい今すぐできるセキュリティ対策
              dd.speaker-name 松尾 祥子
              dd.speaker-name 水野 史土
              dd.speaker-name 大串 肇
              dd.speaker-name 田島 優也
          td
            dl
              dt.stage.stage--03 座談会:WordPress で作るビジネス(HappyTables.com)
          td
            dl
              dt.stage.stage--04 座談会:これからの WordPress 勉強法と勉強会
          td
            dl
              dt.stage.stage--05 仲間をつくろう(交流時間)
          td
            dl
              dt.stage.stage--06 勉強の仕方を教えあう部屋(交流時間)

        tr.restRow
          th.time.rest(colspan="6") 11:45〜12:00
        tr.restRow
          td.rest(colspan="6") 15分休憩

        tr
          th.time(colspan="6") 12:00～13:00
        tr
          td
            dl
              dt ランチLT
          td.none &nbsp;
          td.none &nbsp;
          td.none &nbsp;
          td.none &nbsp;
          td.none &nbsp;

        tr
          th.time(colspan="6") 13:00～13:45
        tr
          td
            dl
              dt.stage.stage--01 これから WordPress のテーマ制作をはじめる人のために
              dd.speaker-name Mignon Style
          td
            dl
              dt.stage.stage--02 【基調講演】アプリケーションプラットフォームとしての WordPress
              dd.speaker-name Joey Kudish
          td
            dl
              dt.stage.stage--04 座談会:ランチLT
              dd
          td
            dl
              dt.stage.stage--03 座談会:必ず押さえておきたい今すぐできるセキュリティ対策
              dd
          td
            dl
              dt.stage.stage--05 おすすめプラグイン&amp;テーマ部屋
              dd.speaker-name 鵜飼 孝陽
              dd.speaker-name 稲葉 一彦
              dd.speaker-name 吉武 春樹
              dd.speaker-name 松尾祥子
              dd.speaker-name 小川 裕之
          td
            dl
              dt.stage.stage--06 リアルフォーラム部屋
              dd.speaker-name 遠藤 進悟
              dd.speaker-name 相原 知栄子
              dd.speaker-name こばやしたけし
              dd.speaker-name 田島 優也
              dd.speaker-name 井村 圭介
              dd.speaker-name 中畑 隆拓
              dd.speaker-name 藤 祐太郎
              dd.speaker-name 高橋 大輔
              dd.speaker-name ブレン・中本憲一
              dd.speaker-name 富安 一貴

        tr.restRow
          th.time.rest(colspan="6") 13:45〜14:00
        tr.restRow
          td.rest(colspan="6") 15分休憩

        tr
          th.time(colspan="6") 14:00～14:45
        tr
          td
            dl
              dt.stage.stage--01 AWS×WordPressでつくるこれからのプラットフォーム
              dd.speaker-name 堀家 隆宏
          td
            dl
              dt.stage.stage--02 これからの情報発信
              dd.speaker-name 江口 創介
              dd.speaker-name 池田 将
              dd.speaker-name PITE
              dd.speaker-name 中村 健太
          td
            dl
              dt.stage.stage--03 座談会:これから WordPress のテーマ制作をはじめる人のために
          td
            dl
              dt.stage.stage--04 座談会:アプリケーションプラットフォームとしての WordPress
          td
            dl
              dt.stage.stage--05 おすすめプラグイン&amp;テーマ部屋(交流時間)
          td
            dl
              dt.stage.stage--06 リアルフォーラム部屋(交流時間)

        tr.restRow
          th.time.rest(colspan="6") 14:45〜15:00
        tr.restRow
          td.rest(colspan="6") 15分休憩

        tr
          th.time(colspan="6") 15:00～15:45
        tr
          td
            dl
              dt.stage.stage--01 WordPress でここまでできる!事例から見るサイト制作テクニック
              dd: small WordPressで作る地域ポータルサイト
              dd.speaker-name 庄子 匡
              dd.speaker-name 西村祥
              dd: small WooCommerce で EC サイトからサロンの予約サイトまで
              dd.speaker-name 田中 昌平
              dd: small カスタム投稿/タクソノミー/フィールドで作る独自イベントカレンダー
              dd.speaker-name 吉田 裕介（コワーキングスペース７F）
          td
            dl
              dt.stage.stage--02 世界の WordPress 事情
              dd.speaker-name 西川 伸一
              dd.speaker-name Valent Mustamin
              dd.speaker-name Marko Heijnen
              dd.speaker-name Mika Epstein
          td
            dl
              dt.stage.stage--03 座談会:AWSで作る、これからの WordPress 構築環境
          td
            dl
              dt.stage.stage--04 座談会:これからの情報発信
          td
            dl
              dt.stage.stage--05 みんなどうやってる?の部屋
              dd.speaker-name 小川 裕之               
              dd.speaker-name 山本 龍二郎
              dd.speaker-name 石原 隆志
              dd.speaker-name 佐々木智佳子
              dd.speaker-name 伊藤ようこ
          td
            dl
              dt.stage.stage--06 みんなどうやってる?の部屋
              dd.speaker-name 大串 肇
              dd.speaker-name 大原 一起
              dd.speaker-name 上原 正道
              dd.speaker-name 嵩本 康志
              dd.speaker-name 鵜飼 孝陽

        tr.restRow
          th.time.rest(colspan="6") 15:45〜16:00
        tr.restRow
          td.rest(colspan="6") 15分休憩

        tr
          th.time(colspan="6") 16:00～16:45
        tr
          td
            dl
              dt.stage.stage--01 WordPress の真髄を探る!コアファイルってどうなってるの?(仮)
              dd.speaker-name 大曲 仁
              dd.speaker-name Kaito Koga
              dd.speaker-name 高橋 大輔
          td
            dl
              dt.stage.stage--02 WordPressAPI で作るモバイルアプリ
              dd.speaker-name 岡本雄樹
          td
            dl
              dt.stage.stage--03 座談会:WordPress ここまでできる!事例から見るサイト制作テクニック
              dd
          td
            dl
              dt.stage.stage--04 座談会:世界の WordPress 事情
              dd
          td
            dl
              dt.stage.stage--05 みんなどうやってる?の部屋(交流時間)
              dd
          td
            dl
              dt.stage.stage--06 みんなどうやってる?の部屋(交流時間)
              dd

        tr.restRow
          th.time.rest(colspan="6") 16:45〜17:00
        tr.restRow
          td.rest(colspan="6") 15分休憩

        tr
          th.time(colspan="6") 17:00
        tr
          td おわりのあいさつ
          td.none &nbsp;
          td.none &nbsp;
          td.none &nbsp;
          td.none &nbsp;
          td.none &nbsp;

    p(style="text-align: right; max-width: 100%"): small *敬称略

    .doubleBtn
      a.button.btnLinkSet(href="http://2014.tokyo.wordcamp.org/tickets/") 参加登録はこちら
        i.icon-double-angle-right
      a.button.btnLinkSet(href="http://2014.tokyo.wordcamp.org/tickets/reception-party/") 懇親会情報はこちら
        i.icon-double-angle-right
