section.session
  h2 アンカンファレンス詳細
  .ja
    p 皆さんはWordPressの勉強はどのようにしていますか？<br>自分はこうやってWordPressの勉強してるけど、みんなはどうやってるのだろう？<br>もっと効率的なやり方あるのかな…<br>そんな勉強法について、みんなでシェアするアンカンファレンスです。
    p 勉強になった書籍や、よく使ってるサイト・ブログ、オススメの勉強会やコミュニティ、効果的な勉強方法をみんなでシェアして自分に合った勉強法を探ってみましょう！
    ul
      li 「このサイトはわかりやすくて勉強になりそうだな」
      li 「この書籍は自分に合いそうだな」
      li 「とりあえずこれだけ覚えてしまえば後は何とかなりそう」
      li 「あ、そんな勉強のやり方があったのか！」
      li 「この勉強会参加してみようかな」
      li 「あのコミュニティに参加すれば、どんどん新しい情報が入ってくるのか！」
    p 他の参加者の勉強法を知ることで、一人では気づけなかったことが多く発見できると思います。<br>このアンカンファレンスで得た勉強法を取り入れてどんどんWordPressのスキルを上げちゃいましょう！！

  dl.session__meta
    dt.session__meta__stage-key 場所
    dd.session__meta__stage-value 会議室B
    dt.session__meta__time-key 時間
    dd.session__meta__time-value 10:00〜10:45
    dt.session__meta__speaker-key モデレーター
    dd.session__meta__speaker-value.table.table--speaker
      .table-row.table-row--speaker
        .table-cell.table-cell-speaker.table-cell--moderator-photo
          img.avatar.avatar-100.photo(width="100" height="100" alt="石原 隆志" src="https://s.gravatar.com/avatar/e939d641f9c5618c6d1386cfca9da37d?s=100")
        .table-cell
          span.speaker-name 石原 隆志 (GrowGroup合同会社 Web エンジニア)
          p 1990年 熊本県天草市生まれ。独学で働きながらwebを学び、Grow Group 合同会社 にて絶賛労働中。<br>浅く広くこなすエンジニアとしてフロントエンドエンジニアを担当。
    dd.session__meta__speaker-value.table.table--speaker
      .table-row.table-row--speaker
        .table-cell.table-cell-speaker.table-cell--moderator-photo
          img.avatar.avatar-100.photo(width="100" height="100" alt="水野 史土" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y&amp;s=100")
        .table-cell
          span.speaker-name 水野 史土
    dd.session__meta__speaker-value.table.table--speaker
      .table-row.table-row--speaker
        .table-cell.table-cell-speaker.table-cell--moderator-photo
          img.avatar.avatar-100.photo(width="100" height="100" alt="佐々木 智佳子" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y&amp;s=100")
        .table-cell
          span.speaker-name 佐々木 智佳子 (ブロガー/フリーライター)
          p デジモノ家電大好きレビューブロガー。ニュースサイトやスマホアプリ紹介サイトでも執筆しています。電子書籍リーダー8枚を所有し、「電子書籍リーダー女子　人生を楽しくする電子書籍の始め方」（Kindle版）を出版しました。
    dd.session__meta__speaker-value.table.table--speaker
      .table-row.table-row--speaker
        .table-cell.table-cell-speaker.table-cell--moderator-photo
          img.avatar.avatar-100.photo(width="100" height="100" alt="小蕎 麻衣" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y&amp;s=100")
        .table-cell
          span.speaker-name 小蕎 麻衣
    dd.session__meta__speaker-value.table.table--speaker
      .table-row.table-row--speaker
        .table-cell.table-cell-speaker.table-cell--moderator-photo
          img.avatar.avatar-100.photo(width="100" height="100" alt="Satomikan Kaizuka" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y&amp;s=100")
        .table-cell
          span.speaker-name Satomikan Kaizuka
    dd.session__meta__speaker-value.table.table--speaker
      .table-row.table-row--speaker
        .table-cell.table-cell-speaker.table-cell--moderator-photo
          img.avatar.avatar-100.photo(width="100" height="100" alt="姫野 大輔" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;f=y&amp;s=100")
        .table-cell
          span.speaker-name Keiko Kanamori
