include settings
- var paths = { stylesheet_directory: '../../', img_directory: '../../files' }
- var content = { title: 'WCT2014 development' }

doctype
html
	head
		title Jade
		link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css")
	block vars
	body(class="#{bodyClass}")
		block content