section#sessions.entry-content__row
  .entry-content__row__inner.entry-content__row__inner--sessions
    .bkg_WhatIsWordCamp: h1 コンテンツ紹介
    p.p 一部のセッションがまだ調整中となっておりますが、確定次第更新されていきます。また、難易度やおすすめの対象者など順次更新されていきますのでこまめにチェックしてみてください!

    h2 タイムテーブル

    table.timetable(border="0")
      thead
        tr
          th わぷーステージ
            br
            | (実践的内容)
          th これからステージ
            br
            | (メインステージ)
          th ステージ脇
          th たたみ
          th 会議室A
          th 会議室B
      tbody

        tr
          th.time(colspan="6") 9:00
        tr.opening
          td.time.open(colspan="6") 開場

        tr
          th.time(colspan="6") 9:30～9:50
        tr
          td.none &nbsp;
          td
            dl
              dt WordCamp の楽しみ方
              dd.time これからステージ(9:30～9:50)
              dd.speaker-name WordCamp2014 実行委員長
          td.none &nbsp;
          td.none &nbsp;
          td.none &nbsp;
          td.none &nbsp;

        tr.restRow
          th.time.rest(colspan="6") 9:50〜10:00
        tr.restRow
          td.rest(colspan="6") 10分休憩

        tr
          th(colspan="6") 10:00〜10:45
        tr
          td
            dl
              dt WordPress で作るビジネス(HappyTable.com)
              dd.time わぷーステージ(10:00～10:45)
              dd.speaker-name Noel Tock
          td
            dl
              dt これからの WordPress 勉強法と勉強会
              dd.time これからステージ(10:00～10:45)
              dd.speaker-name 北村 崇
          td
            dl
              dt 案内所&amp;交流スペース
              dd.time ステージ脇(10:00～10:45)
          td
            dl
              dt 案内所&amp;交流スペース
              dd.time たたみ(10:00～10:45)
          td
            dl
              dt 仲間を作ろう
              dd.time 会議室A(10:00～10:45)
          td
            dl
              dt 勉強の仕方を教えあう部屋
              dd.time 会議室B(10:00～10:45)

        tr.restRow
          th.time.rest(colspan="6") 10:45〜11:00
        tr.restRow
          td.rest(colspan="6") 15分休憩

        tr
          th(colspan="6") 11:00〜11:45
        tr
          td
            dl
              dt WordPress を使って多言語サイトを作ってみよう
                dd.time わぷーステージ(11:00～11:45)
                dd.speaker-name Marko Heijnen
                dd.speaker-name 渡辺 幸一
          td
            dl
              dt 必ず押さえておきたい今すぐできるセキュリティ対策
                dd.time これからステージ(11:00～11:45)
                dd.speaker-name 松尾 祥子
                dd.speaker-name 水野 史土
                dd.speaker-name 大串 肇
                dd.speaker-name 田島 優也
          td
            dl
              dt 座談会:WordPress で作るビジネス(HappyTable.com)
              dd.time ステージ脇(11:00～11:45)
          td
            dl
              dt 座談会:これからの WordPress 勉強法と勉強会
              dd.time たたみ(11:00～11:45)
          td
            dl
              dt 仲間をつくろう(交流時間)
              dd.time 会議室A(11:00～11:45)
          td
            dl
              dt 勉強の仕方を教えあう部屋(交流時間)
              dd.time 会議室B(11:00～11:45)

        tr.restRow
          th.time.rest(colspan="6") 11:45〜12:00
        tr.restRow
          td.rest(colspan="6") 15分休憩

        tr
          th(colspan="6") 12:00～13:00
        tr
          td
            dl
              dt ランチLT
          td.none &nbsp;
          td.none &nbsp;
          td.none &nbsp;
          td.none &nbsp;
          td.none &nbsp;

        tr
          th(colspan="6") 13:00～13:45
        tr
          td
            dl
              dt これから WordPress のテーマ制作をはじめる人のために
              dd.time わぷーステージ(13:00～13:45)
              dd.speaker-name Mignon Style
          td
            dl
              dt 【基調講演】アプリケーションプラットフォームとしての WordPress
              dd.time これからステージ(13:00～13:45)
              dd.speaker-name Joey Kudish
          td
            dl
              dt 座談会:必ず押さえておきたい今すぐできるセキュリティ対策
              dd.time ステージ脇(13:00～13:45)
          td
            dl
              dt 座談会:ランチLT
              dd.time たたみ(13:00～13:45)
          td
            dl
              dt おすすめプラグイン&amp;テーマ部屋
              dd.time 会議室A(13:00～13:45)
          td
            dl
              dt リアルフォーラム部屋
              dd.time 会議室B(13:00～13:45)

        tr.restRow
          th.time.rest(colspan="6") 13:45〜14:00
        tr.restRow
          td.rest(colspan="6") 15分休憩

        tr
          th(colspan="6") 14:00～14:45
        tr
          td
            dl
              dt AWSで作る、これからの WordPress 構築環境
              dd.time わぷーステージ(14:00～14:45)
              dd.speaker-name 堀家 隆宏
          td
            dl
              dt これからの情報発信
              dd.time これからステージ(14:00～14:45)
              dd.speaker-name 江口 創介
              dd.speaker-name 池田 将
              dd.speaker-name PITE
              dd.speaker-name 中村
          td
            dl
              dt 座談会:これから WordPress のテーマ制作をはじめる人のために
              dd.time ステージ脇(14:00～14:45)
          td
            dl
              dt 座談会:アプリケーションプラットフォームとしての WordPress
              dd.time たたみ(14:00～14:45)
          td
            dl
              dt おすすめプラグイン&amp;テーマ部屋(交流時間)
              dd.time 会議室A(14:00～14:45)
          td
            dl
              dt リアルフォーラム部屋(交流時間)
              dd.time 会議室B(14:00～14:45)

        tr.restRow
          th.time.rest(colspan="6") 14:45〜15:00
        tr.restRow
          td.rest(colspan="6") 15分休憩

        tr
          th.time(colspan="6") 15:00～15:45
        tr
          td
            dl
              dt WordPress でここまでできる!事例から見るサイト制作テクニック
              dd.time わぷーステージ(15:00～15:45)
              dd.speaker-name スピーカー未定
          td
            dl
              dt 世界の WordPress 事情
              dd.time これからステージ(15:00～15:45)
              dd.speaker-name 西川 伸一
              dd.speaker-name Valent Mustamin
              dd.speaker-name Marko Heijnen
              dd.speaker-name Mica Epstein
          td
            dl
              dt 座談会:AWSで作る、これからの WordPress 構築環境
              dd.time ステージ脇(15:00～15:45)
          td
            dl
              dt 座談会:これからの情報発信
              dd.time たたみ(15:00～15:45)
          td
            dl
              dt みんなどうやってる?の部屋
              dd.time 会議室A(15:00～15:45)
          td
            dl
              dt みんなどうやってる?の部屋
              dd.time 会議室B(15:00～15:45)

        tr.restRow
          th.time.rest(colspan="6") 15:45〜16:00
        tr.restRow
          td.rest(colspan="6") 15分休憩

        tr
          th.time(colspan="6") 16:00～16:45
        tr
          td
            dl
              dt WordPress の真髄を探る!コアファイルってどうなってるの?(仮)
              dd.time わぷーステージ(16:00～16:45)
              dd.speaker-name 大曲 仁
              dd.speaker-name Kaito Koga
              dd.speaker-name 高橋 大輔
          td
            dl
              dt WordPressAPI で作るモバイルアプリ
              dd.time これからステージ(16:00～16:45)
              dd.speaker-name 岡本雄樹
          td
            dl
              dt 座談会:WordPress ここまでできる!事例から見るサイト制作テクニック
              dd.time ステージ脇(16:00～16:45)
              dd.speaker-name
          td
            dl
              dt 座談会:世界の WordPress 事情
              dd.time たたみ(16:00～16:45)
              dd.speaker-name
          td
            dl
              dt みんなどうやってる?の部屋(交流時間)
              dd.time 会議室A(16:00～16:45)
              dd.speaker-name
          td
            dl
              dt みんなどうやってる?の部屋(交流時間)
              dd.time 会議室B(16:00～16:45)
              dd.speaker-name

        tr.restRow
          th.time.rest(colspan="6") 16:45〜17:00
        tr.restRow
          td.rest(colspan="6") 15分休憩

        tr
          th.time(colspan="6") 17:00
        tr
          td おわりのあいさつ
          td.none &nbsp;
          td.none &nbsp;
          td.none &nbsp;
          td.none &nbsp;
          td.none &nbsp;
