- var date = { year: '2014', month: '04' }
- var imgPath = 'http://2014.tokyo.wordcamp.org/files/' + date.year + '/' + date.month
- var imgPath = 'uploads'	// 流し込み前にコメントアウトしてコンパイル
- var postAuther = 'Jon Smith'
- var postTitle = 'ブログタイトル'
- var postThumbnail = ''