include inc/core/_config
extends inc/core/_base_modern
block title
  - var title = ''
  title= title
block prepend meta
  - var sitename = name
  - var keywords = ''
  - var description = ''
  - var ogpimage = ''
  - var bodyClass = 'home'
  - var siteDomain = 'http://wct2014.dev'
block append meta
block body
  .l-container
    include inc/layout/_layout_header


    include inc/layout/_layout_footer
block append scriptFooter
