include inc/core/_config
extends inc/core/_base_modern
block title
  - var title = ''
  title= title
block prepend meta
  - var sitename = name
  - var keywords = ''
  - var description = ''
  - var ogpimage = ''
  - var bodyClass = 'home'
  - var siteDomain = 'http://wct2014.dev'
block append meta
block body
  .l-container
    include inc/layout/_layout_header

      h1.sponsorTitle.sponsorTitle--platinum Platinum
      ul.sponsorList.sponsorList--platinum
        li
          a.sponsorList__sponsorLogo(href="http://2014.tokyo.wordcamp.org/sponsor/prime-strategy/")
            img.attachment-post-thumbnail.wp-post-image(width="450" height="100" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_platinum_prime_strategy.png" alt="プライム・ストラテジー株式会社" class="aligncenter size-full wp-image-167944")
        li
          a.sponsorList__sponsorLogo(href="http://wp.sova.jp/")
            img.attachment-post-thumbnail.wp-post-image(width="450" height="100" src="http://2014.tokyo.wordcamp.org/files/2014/09/sponsor_platinum_sova-wp.png" alt="Sova Global Inc" class="aligncenter size-full wp-image-167944")

    include inc/layout/_layout_footer
block append scriptFooter
