/* main -> top
---------------------------------------- */
.row{
	margin: 0 auto;
	padding: 13% 0;
	border-top: 1px solid #e4e4e4;
	&:first-child{
		border-top: none;
	}
	.subTitle{
		font-size: 3rem;
	}
}
.becomeStaff{
	.fa{
		width: 2em;
		height: 2em;
		border: 1px solid #fff;
		border-radius: 100%;
		font-size: 4rem;
		line-height: 2em;
	}
	.buttonWrap{
		.button{
			@extend %buttonAct;
			display: inline-block;
			border: none;
			border-radius: 4px;
			background-color: #1E5D8A;
			color: #fff;
			font-weight: normal;
			font-size: 2rem;
		}
	}
	p{
		margin: 3% auto;
	}
}
.socialList{
	@extend %group;
	display: inline-block;
	margin: 0;
	list-style: none;
	li{
		float: left;
		margin-left: 2em;
		&:first-child{
			margin-left: auto;
		}
		.fa{
			$fSize: 6rem;
			$outerSize: $fSize + 2.8;
			@extend %buttonAct;
			width: $outerSize;
			height: $outerSize;
			border-radius: 100%;
			background-color: #66BADF;
			color: #fff;
			vertical-align: middle;
			text-align: center;
			font-size: $fSize;
			line-height: $outerSize;
		}
		.icon-twitter{
			background-color: #55acee;
			letter-spacing: -0.0125em;
		}
		.icon-facebook{
			background-color: #3b5998;
			letter-spacing: -0.025em;
		}
		.icon-google-plus{
			background-color: #dd4b39;
			letter-spacing: -0.125em;
		}
	}
}