/* =========================================================
     サイト全体共通スタイル
========================================================= */
html{
    font-size: 10px;
}
body{
    font-family: $fontFamily;
    background-image: url($filePath + '2014/06/bkgHeaderM.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 640px auto;
    text-align: center;
    a{
        color: $colorLink;
        &:hover{
            color: $colorLinkHover;
            text-decoration: underline;
        }
        &:visited{
            color: $colorLinkVisited;
        }
    }
    ::selection{
        background-color: $colorLinkSelect;
    }
    .fa{
        display: inline-block;
        text-decoration: none;
    }
    .fontEn{
        font-family: $fontFamilyEn;
    }
}
.site{
    max-width: 100%;
    background-color: transparent;
    &:before{
        display: none;
    }
}
.search-toggle{
    display: none;
}

#secondary{
    display: none;
}
#main{
    background-color: $colorBkg;
}
#main-content{
    @extend %baseWidth;
    float: none;
}
#primary{
    width: 100%;
    padding: 0;
}
.site-content{
    margin: 0 340px 0 auto;
    .entry-header{
        background-color: transparent;
        display: none;
        .entry-title,
        .entry-title a{
            color: $colorLink;
        }
        .entry-meta{
            background-color: transparent;
        }
    }
    .entry-content{
        background-color: transparent;
        color: $colorText;
        text-align: center;
    }
    .comments-area{
        display: none;
    }
}
div.sharedaddy h3.sd-title{
    display: block;
}