article.post {
    margin-left: 0;
}

.hentry {
    margin: 0 auto;
    max-width: 900px;
}

.entry-title a, .entry-title {
    display: block;
    width: 100%;
    height: 100%;
}

.primary-navigation li:hover > a,
.primary-navigation li.focus > a {
    background-color: #e44830;
}