/* =========================================================
     サイト全体共通スタイル
========================================================= */
html{
    font-size: 10px;
}
body{
    font-family: $fontFamily;
    background-image: url($filePath + '2014/06/bkgHeaderS.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    a{
        color: $colorLink;
        &:hover{
            color: $colorLinkHover;
            text-decoration: underline;
        }
        &:visited{
            color: $colorLinkVisited;
        }
    }
    ::selection{
        background-color: $colorLinkSelect;
    }
    .fa{
        display: inline-block;
        text-decoration: none;
    }
    .fontEn{
        font-family: $fontFamilyEn;
    }
}
.site{
    max-width: 100%;
    background-color: transparent;
    &:before{
        display: none;
    }
}
.search-toggle{
    display: none;
}

#secondary{
    display: none;
}
#main{
    background-color: $colorBkg;
}
#main-content{
    @extend %baseWidth;
    float: none;
}
#primary{
    width: 100%;
    padding: 0;
}
.site-content{
    margin: 0 340px 0 auto;
    .entry-header{
        background-color: transparent;
        display: none;
        .entry-title,
        .entry-title a{
            color: $colorLink;
        }
        .entry-meta{
            background-color: transparent;
        }
    }
    .entry-content{
        background-color: transparent;
        color: $colorText;
        text-align: center;
    }
    .comments-area{
        display: none;
    }
}
@media screen and (max-width: 400px){
    html{
        font-size: 6px;
    }
}
@media screen and (min-width: 401px){}
@media screen and (max-width: 672px){
    html{
        font-size: 8px;
    }
    .site-content{
        margin-right: 0;
    }
}
@media screen and (min-width: 594px){
    body{
        background-image: url($filePath + '2014/06/bkgHeaderM.jpg');
        background-repeat: no-repeat;
        background-position: center -44px;
    }
}
@media screen and (min-width: 673px){
    .site-content{
        .entry-header,
        .entry-content,
        .entry-summary,
        .entry-meta,
        .page-content,
        .comments-area{
            max-width: 780px;
        }
    }
}
@media screen and (min-width: 783px){}
@media screen and (min-width: 810px){}
@media screen and (min-width: 846px){}
@media screen and (min-width: 1008px){}
@media screen and (min-width: 1040px){}
@media screen and (min-width: 1080px){}
@media screen and (min-width: 1110px){}
@media screen and (min-width: 1260px){}
@media screen and (min-width: 1281px){
    body{
        background-size: 100%;
    }
}
@media screen and (min-width: 1440px){
    body{
        background-image: url($filePath + '2014/06/bkgHeaderL.jpg');
        background-position: center top;
        background-size: 1920px 1080px;
    }
}