/* =========================================================
     サイト全体共通スタイル
========================================================= */
@font-face {
    font-family: "foundation-icons";
    src: url($fontPath + "/foundation-icons.eot");
    src: url($fontPath + "/foundation-icons.eot?#iefix") format("embedded-opentype"),
             url($fontPath + "/foundation-icons.woff") format("woff"),
             url($fontPath + "/foundation-icons.ttf") format("truetype"),
             url($fontPath + "/foundation-icons.svg#fontcustom") format("svg");
    font-weight: normal;
    font-style: normal;
}

body{
    font: 10px $fontFamily;
    a{
        color: $colorLink;
        &:hover{
            color: $colorLinkHover;
        }
        &:visited{
            color: $colorLinkVisited;
        }
        &::selection{
            background-color: $colorLinkSelect;
        }
    }
}
.site{
    background-color: $colorBkg;
    max-width: 100%;
    &:before{
        display: none;
    }
}
.search-toggle{
    display: none;
}

#secondary{
    display: none;
}
#main{
    @extend %baseWidth;
}
#main-content{
    float: none;
}
#primary{
    width: 100%;
}
.site-content{
    margin: 0 340px 0 auto;
    .entry-header{
        background-color: transparent;
        .entry-title,
        .entry-title a{
            color: #fff;
        }
        .entry-meta{
            background-color: transparent;
        }
    }
    .entry-content{
        background-color: transparent;
        color: #fff;
    }
    .comments-area{
        display: none;
    }
}
@media screen and (min-width: 673px){
    .site-content{
        .entry-header,
        .entry-content,
        .entry-summary,
        .entry-meta,
        .page-content,
        .comments-area{
            max-width: 780px;
        }
    }
}
@media screen and (max-width: 672px){
    .site-content{
        margin-right: 0;
    }
}