@charset "utf-8";
$filePath          : "http://2014.tokyo.wordcamp.org/files";
$filePath          : "files";


// HTML5
$html5 : true;

// IE9 SVG
$experimental-support-for-svg    :false;

// font-family
$fontFamily : "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Verdana,Arial,Helvetica,sans-serif;
//$fontFamily :  HelveticaNeue, Helvetica, Arial, Verdana, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
$fontFamilyLight :  'HelveticaNeue-Light', Helvetica, Arial, Verdana, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
$fontCode   : monospace, "ＭＳ Ｐ ゴシック","MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;

// Colum Base Width
$maxWidth          : 1080px;

//Color
$colorBorder       : #b2b2b2;
$colorGreen        : #2f7b4e;
$colorLink         : #4173a5;
$colorLink_active  : #4173a5;
$colorLink_hover   : #4173a5;
$colorLink_visited : #4173a5;
$colorMain         : #4173b3;
$colorSub          : #537F6D;
$colorSubText      : #666;
$colorText         : #333;